In [1]:
import numpy as np
import pandas as pd
import pickle
from collections import OrderedDict
import sqlalchemy
import psycopg2

In [2]:
%load_ext sql
%sql mysql://root:112928@localhost/mimic
%sql use mimic

 * mysql://root:***@localhost/mimic
0 rows affected.

[]

In [3]:
begin = pd.read_pickle('mimic_all_data1')

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,D.LABEL,D.UNITNAME,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome
0,23,124321,234044,220045,2157-10-21 12:06:00,77,77.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,...,Heart Rate,bpm,1,1,1,1,0,0,0,1
1,23,124321,234044,220045,2157-10-21 12:08:00,75,75.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,...,Heart Rate,bpm,1,1,1,1,0,0,0,1
2,23,124321,234044,220045,2157-10-21 13:00:00,84,84.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,...,Heart Rate,bpm,1,1,1,1,0,0,0,1
3,23,124321,234044,220045,2157-10-21 14:00:00,78,78.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,...,Heart Rate,bpm,1,1,1,1,0,0,0,1
4,23,124321,234044,220045,2157-10-21 15:00:00,81,81.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,...,Heart Rate,bpm,1,1,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5137462,99899,188409,245756,227516,2113-06-06 20:47:00,43,43.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,...,PO2 (Mixed Venous),mmHg,0,0,1,1,1,1,0,0
5137463,99899,188409,245756,227516,2113-06-07 20:27:00,43,43.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,...,PO2 (Mixed Venous),mmHg,0,0,0,1,1,1,0,0
5137464,99899,188409,245756,227516,2113-06-11 01:25:00,37,37.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,...,PO2 (Mixed Venous),mmHg,0,0,0,1,1,1,0,0
5137465,99923,192053,298857,227516,2201-05-16 06:36:00,60,60.0,mmHg,2201-05-16 06:06:34,2201-05-18 11:45:27,...,PO2 (Mixed Venous),mmHg,1,1,1,1,0,0,0,1
5137466,99985,176670,279638,227516,2181-02-07 16:25:00,35,35.0,mmHg,2181-01-29 05:33:34,2181-02-09 12:45:20,...,PO2 (Mixed Venous),mmHg,0,0,0,1,0,0,0,1

In [4]:
akf_id = %sql SELECT DISTINCT * FROM `diagnoses_icd` WHERE ICD9_CODE IN ('5849','5848')

 * mysql://root:***@localhost/mimic
9174 rows affected.

In [6]:
akf_id = akf_id.DataFrame()

In [7]:
akf_id

      ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0          6           3   145834        3      5849
1         45           9   150750        4      5849
2        115          21   109451        4      5849
3        308          38   185910        4      5849
4        404          52   190797        3      5849
...      ...         ...      ...      ...       ...
9169  650939       99982   112748        2      5849
9170  650964       99982   183791        5      5849
9171  650977       99983   117390        2      5849
9172  651000       99991   151118        4      5849
9173  651018       99992   197084        5      5849

[9174 rows x 5 columns]

In [8]:
akf_id['SUBJECT_ID']

0           3
1           9
2          21
3          38
4          52
        ...
9169    99982
9170    99982
9171    99983
9172    99991
9173    99992
Name: SUBJECT_ID, Length: 9174, dtype: int64

In [9]:
begin['C.SUBJECT_ID']

0             23
1             23
2             23
3             23
4             23
           ...
5137462    99899
5137463    99899
5137464    99899
5137465    99923
5137466    99985
Name: C.SUBJECT_ID, Length: 5137467, dtype: int64

In [10]:
begin['C.SUBJECT_ID'].values

array([   23,    23,    23, ..., 99899, 99923, 99985], dtype=int64)

In [11]:
akf_id['SUBJECT_ID'].values

array([    3,     9,    21, ..., 99983, 99991, 99992], dtype=int64)

In [12]:
begin['akf'] = begin['C.SUBJECT_ID'].apply(lambda subject: 1 if int(subject) in akf_id['SUBJECT_ID'].values else 0 )

In [13]:
begin

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,D.UNITNAME,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf
0,23,124321,234044,220045,2157-10-21 12:06:00,77,77.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,...,bpm,1,1,1,1,0,0,0,1,0
1,23,124321,234044,220045,2157-10-21 12:08:00,75,75.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,...,bpm,1,1,1,1,0,0,0,1,0
2,23,124321,234044,220045,2157-10-21 13:00:00,84,84.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,...,bpm,1,1,1,1,0,0,0,1,0
3,23,124321,234044,220045,2157-10-21 14:00:00,78,78.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,...,bpm,1,1,1,1,0,0,0,1,0
4,23,124321,234044,220045,2157-10-21 15:00:00,81,81.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,...,bpm,1,1,1,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5137462,99899,188409,245756,227516,2113-06-06 20:47:00,43,43.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,...,mmHg,0,0,1,1,1,1,0,0,1
5137463,99899,188409,245756,227516,2113-06-07 20:27:00,43,43.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,...,mmHg,0,0,0,1,1,1,0,0,1
5137464,99899,188409,245756,227516,2113-06-11 01:25:00,37,37.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,...,mmHg,0,0,0,1,1,1,0,0,1
5137465,99923,192053,298857,227516,2201-05-16 06:36:00,60,60.0,mmHg,2201-05-16 06:06:34,2201-05-18 11:45:27,...,mmHg,1,1,1,1,0,0,0,1,1
5137466,99985,176670,279638,227516,2181-02-07 16:25:00,35,35.0,mmHg,2181-01-29 05:33:34,2181-02-09 12:45:20,...,mmHg,0,0,0,1,0,0,0,1,0

In [14]:
(begin['akf']==1)

0          False
1          False
2          False
3          False
4          False
           ...
5137462     True
5137463     True
5137464     True
5137465     True
5137466    False
Name: akf, Length: 5137467, dtype: bool

In [15]:
begin1 = begin[(begin['akf']==1)].reset_index(drop=True)
begin1

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,D.UNITNAME,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf
0,109,147469,253139,220045,2141-06-11 12:13:00,93,93.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,...,bpm,1,1,1,1,0,0,0,1,1
1,109,147469,253139,220045,2141-06-11 12:15:00,97,97.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,...,bpm,1,1,1,1,0,0,0,1,1
2,109,147469,253139,220045,2141-06-11 12:30:00,105,105.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,...,bpm,1,1,1,1,0,0,0,1,1
3,109,147469,253139,220045,2141-06-11 12:46:00,84,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,...,bpm,1,1,1,1,0,0,0,1,1
4,109,147469,253139,220045,2141-06-11 13:00:00,84,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,...,bpm,1,1,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1881652,99562,101705,223539,227516,2183-03-13 05:50:00,95,95.0,mmHg,2183-03-06 08:29:27,2183-03-17 18:13:56,...,mmHg,0,0,0,1,0,0,0,1,1
1881653,99899,188409,245756,227516,2113-06-06 20:47:00,43,43.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,...,mmHg,0,0,1,1,1,1,0,0,1
1881654,99899,188409,245756,227516,2113-06-07 20:27:00,43,43.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,...,mmHg,0,0,0,1,1,1,0,0,1
1881655,99899,188409,245756,227516,2113-06-11 01:25:00,37,37.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,...,mmHg,0,0,0,1,1,1,0,0,1
1881656,99923,192053,298857,227516,2201-05-16 06:36:00,60,60.0,mmHg,2201-05-16 06:06:34,2201-05-18 11:45:27,...,mmHg,1,1,1,1,0,0,0,1,1

In [16]:
begin1.to_pickle('begin_akf')