In [1]:
# import graphlab
# import graphlab.aggregate as agg
import numpy as np
import pickle
import datetime
import pandas as pd
import sqlalchemy
import psycopg2

In [2]:
%load_ext sql
%sql mysql://root:123456@localhost/mimic
%sql use mimic

 * mysql://root:***@localhost/mimic
0 rows affected.

[]

以下查询提取有关 ICUSTAY、HADM（hospital admission入院）和结果的所需信息：

In [3]:
data=%sql SELECT I.SUBJECT_ID, I.HADM_ID, I.ICUSTAY_ID, A.HOSPITAL_EXPIRE_FLAG, I.INTIME, I.OUTTIME, A.DEATHTIME \
FROM ICUSTAYS I \
INNER JOIN PATIENTS P \
ON I.SUBJECT_ID=P.SUBJECT_ID \
INNER JOIN ADMISSIONS A \
ON I.HADM_ID=A.HADM_ID \
WHERE (FIRST_CAREUNIT='MICU' or FIRST_CAREUNIT='SICU') AND DBSOURCE='METAVISION'

 * mysql://root:***@localhost/mimic
14595 rows affected.

In [4]:
print( len(data))
gdata = data.DataFrame()
gdata.to_pickle('mimic_mortality')

14595

In [116]:
gdata_grouped = gdata.groupby(by='HADM_ID',as_index = False)

下面块，写的不规范，first_stay_id难以准确提取，采用first_intime来近似

In [117]:
gdata_grouped=gdata_grouped.agg(
    SUBJECT_ID=('SUBJECT_ID',np.random.choice),
    first_intime=('INTIME', 'min'),
    # first_stay=(np.argmin('INTIME', 'ICUSTAY_ID'))
#     first_stay=('ICUSTAY_ID',get_icuid),
    first_stay_id =('ICUSTAY_ID','min'),
    count=('ICUSTAY_ID','count'),
    mortality = ('HOSPITAL_EXPIRE_FLAG','max')
)
gdata_grouped

,HADM_ID,SUBJECT_ID,first_intime,first_stay_id,count,mortality
0,100001,58526,2117-09-11 11:47:35,275225,1,0
1,100003,54610,2150-04-17 15:35:42,209281,1,0
2,100010,55853,2109-12-10 21:58:01,271147,1,0
3,100016,68591,2188-05-24 13:07:20,217590,1,0
4,100018,58128,2176-08-29 16:56:37,269533,1,0
...,...,...,...,...,...,...
13743,199949,64296,2181-05-15 18:20:51,275223,1,1
13744,199957,97714,2181-04-07 10:53:54,253382,1,0
13745,199958,26705,2178-09-02 21:13:22,277656,1,0
13746,199967,42131,2184-07-31 17:42:53,201521,1,0
13747,199999,40370,2136-04-06 16:01:10,211153,1,0

In [107]:
# cond = gdata_grouped['count']>1
# cond = gdata_grouped[cond].index
# gdata_grouped = gdata_grouped.drop(cond)

In [118]:
gdata_grouped.set_index(['HADM_ID'],inplace=True)

In [119]:
gdata_grouped

         SUBJECT_ID        first_intime  first_stay_id  count  mortality
HADM_ID
100001        58526 2117-09-11 11:47:35         275225      1          0
100003        54610 2150-04-17 15:35:42         209281      1          0
100010        55853 2109-12-10 21:58:01         271147      1          0
100016        68591 2188-05-24 13:07:20         217590      1          0
100018        58128 2176-08-29 16:56:37         269533      1          0
...             ...                 ...            ...    ...        ...
199949        64296 2181-05-15 18:20:51         275223      1          1
199957        97714 2181-04-07 10:53:54         253382      1          0
199958        26705 2178-09-02 21:13:22         277656      1          0
199967        42131 2184-07-31 17:42:53         201521      1          0
199999        40370 2136-04-06 16:01:10         211153      1          0

[13748 rows x 5 columns]

In [120]:
ic_count = dict()
first_stays = dict()
intimes = dict()
# for row in gdata_grouped:
#     ic_count[row['HADM_ID']] = row['count']
#     intimes[row['HADM_ID']] = row['first_intime']
#     first_stays[row['HADM_ID']] = row['first_stay_id']

In [121]:
# 进  ICU  的 次数  （对于每个 'HADM_ID' 而言）
ic_count['HADM_ID'] = gdata_grouped['count']

intimes['HADM_ID'] = gdata_grouped['first_intime']

# 第一次进  ICU  的  'ICUSTAY_ID' 值
first_stays['HADM_ID'] = gdata_grouped['first_stay_id']
# all_data.apply(lambda row: 1 if (row['II.OUTTIME'] - row['C.CHARTTIME'])

In [122]:
ic_count

{'HADM_ID': HADM_ID
 100001    1
 100003    1
 100010    1
 100016    1
 100018    1
          ..
 199949    1
 199957    1
 199958    1
 199967    1
 199999    1
 Name: count, Length: 13748, dtype: int64}

In [123]:
# 第一次进  ICU  的  'ICUSTAY_ID' 值
gdata_grouped['first_stay_id']

HADM_ID
100001    275225
100003    209281
100010    271147
100016    217590
100018    269533
           ...
199949    275223
199957    253382
199958    277656
199967    201521
199999    211153
Name: first_stay_id, Length: 13748, dtype: int64

In [124]:
gdata_grouped=gdata_grouped.reset_index()
gdata_grouped

,HADM_ID,SUBJECT_ID,first_intime,first_stay_id,count,mortality
0,100001,58526,2117-09-11 11:47:35,275225,1,0
1,100003,54610,2150-04-17 15:35:42,209281,1,0
2,100010,55853,2109-12-10 21:58:01,271147,1,0
3,100016,68591,2188-05-24 13:07:20,217590,1,0
4,100018,58128,2176-08-29 16:56:37,269533,1,0
...,...,...,...,...,...,...
13743,199949,64296,2181-05-15 18:20:51,275223,1,1
13744,199957,97714,2181-04-07 10:53:54,253382,1,0
13745,199958,26705,2178-09-02 21:13:22,277656,1,0
13746,199967,42131,2184-07-31 17:42:53,201521,1,0
13747,199999,40370,2136-04-06 16:01:10,211153,1,0

In [125]:
print( len(gdata_grouped))
print (sum(gdata_grouped['mortality']==1))
mortality_list = list(gdata_grouped[gdata_grouped['mortality']==1]['HADM_ID'])

13748
1681

In [126]:
mortality_list

[100197,
 100223,
 100234,
 100277,
 100292,
 100357,
 100459,
 100470,
 100474,
 100493,
 100509,
 100522,
 100529,
 100562,
 100689,
 100888,
 100922,
 100969,
 100984,
 101052,
 101056,
 101068,
 101071,
 101136,
 101194,
 101295,
 101299,
 101553,
 101662,
 101743,
 101754,
 101776,
 101779,
 101785,
 101819,
 101858,
 101977,
 102047,
 102111,
 102115,
 102132,
 102247,
 102286,
 102309,
 102390,
 102624,
 102668,
 102715,
 103006,
 103045,
 103082,
 103169,
 103226,
 103293,
 103518,
 103541,
 103662,
 103702,
 103760,
 103877,
 103878,
 103980,
 103986,
 104041,
 104326,
 104521,
 104595,
 104616,
 104710,
 104834,
 104868,
 104903,
 104910,
 104933,
 105054,
 105246,
 105447,
 105450,
 105459,
 105492,
 105633,
 105668,
 105699,
 105748,
 105907,
 105954,
 105983,
 106031,
 106252,
 106291,
 106358,
 106446,
 106489,
 106591,
 106664,
 106711,
 106792,
 106860,
 106899,
 106913,
 106929,
 106997,
 107003,
 107055,
 107099,
 107322,
 107409,
 107414,
 107543,
 107797,
 107802,
 107949,
 108007,
 108107,
 108236,
 108386,
 108397,
 108405,
 108433,
 108489,
 108494,
 108567,
 108570,
 108623,
 108652,
 108670,
 108721,
 108729,
 108774,
 108859,
 108860,
 108890,
 109000,
 109017,
 109026,
 109056,
 109068,
 109166,
 109177,
 109337,
 109360,
 109381,
 109521,
 109611,
 109613,
 109633,
 109639,
 109703,
 109770,
 109818,
 109951,
 109965,
 110037,
 110042,
 110067,
 110084,
 110086,
 110130,
 110140,
 110159,
 110300,
 110348,
 110378,
 110437,
 110443,
 110486,
 110520,
 110742,
 110863,
 111096,
 111224,
 111313,
 111391,
 111439,
 111445,
 111504,
 111516,
 111874,
 111966,
 112205,
 112221,
 112268,
 112287,
 112326,
 112343,
 112375,
 112507,
 112508,
 112575,
 112616,
 112660,
 112662,
 112849,
 113009,
 113059,
 113085,
 113103,
 113108,
 113143,
 113210,
 113263,
 113274,
 113295,
 113307,
 113333,
 113344,
 113374,
 113382,
 113576,
 113594,
 113652,
 113665,
 113695,
 113858,
 113884,
 113913,
 114044,
 114222,
 114246,
 114325,
 114446,
 114480,
 114517,
 114522,
 114536,
 114567,
 114622,
 114629,
 114677,
 114678,
 114712,
 114726,
 114783,
 114795,
 114883,
 114911,
 114991,
 114995,
 115004,
 115054,
 115071,
 115146,
 115176,
 115295,
 115297,
 115308,
 115393,
 115396,
 115499,
 115558,
 115648,
 115671,
 115686,
 115774,
 115839,
 115895,
 115931,
 116027,
 116100,
 116133,
 116204,
 116240,
 116333,
 116367,
 116413,
 116467,
 116489,
 116501,
 116532,
 116543,
 116702,
 116803,
 116806,
 116820,
 116884,
 116954,
 117068,
 117080,
 117105,
 117107,
 117548,
 117609,
 117616,
 117661,
 117795,
 117847,
 117860,
 117870,
 117923,
 118091,
 118225,
 118339,
 118379,
 118397,
 118407,
 118489,
 118496,
 118513,
 118668,
 118683,
 118685,
 118704,
 118720,
 118793,
 118884,
 118901,
 118917,
 119029,
 119093,
 119137,
 119210,
 119226,
 119311,
 119347,
 119486,
 119492,
 119529,
 119561,
 119621,
 119749,
 119762,
 119825,
 119829,
 119832,
 119836,
 119849,
 119948,
 119972,
 120042,
 120167,
 120177,
 120273,
 120334,
 120770,
 120858,
 120924,
 121013,
 121068,
 121092,
 121194,
 121255,
 121300,
 121307,
 121472,
 121474,
 121516,
 121581,
 121591,
 121701,
 121786,
 121843,
 121854,
 121915,
 122034,
 122086,
 122109,
 122152,
 122179,
 122203,
 122223,
 122252,
 122279,
 122354,
 122418,
 122422,
 122476,
 122493,
 122503,
 122507,
 122576,
 122675,
 122695,
 122722,
 122790,
 122883,
 122926,
 122964,
 122973,
 123014,
 123029,
 123152,
 123204,
 123232,
 123253,
 123426,
 123452,
 123489,
 123498,
 123525,
 123566,
 123675,
 123827,
 123877,
 124025,
 124042,
 124061,
 124212,
 124225,
 124262,
 124309,
 124374,
 124428,
 124433,
 124453,
 124456,
 124583,
 124645,
 124839,
 124860,
 124880,
 124897,
 124936,
 125008,
 125078,
 125124,
 125126,
 125185,
 125228,
 125246,
 125297,
 125325,
 125375,
 125402,
 125414,
 125479,
 125502,
 125506,
 125553,
 125615,
 125810,
 125875,
 125979,
 126129,
 126228,
 126244,
 126246,
 126268,
 126291,
 126336,
 126506,
 126573,
 126824,
 126999,
 127022,
 127050,
 127116,
 127132,
 127223,
 127242,
 127298,
 127303,
 127312,
 127416,
 127431,
 127453,
 127454,
 127469,
 127506,
 127560,
 127691,
 127708,
 127805,
 127865,
 127868,
 127879,
 127962,
 127991,
 128158,
 128250,
 128331,
 128414,
 128543,
 128557,
 128746,
 128777,
 128790,
 128800,
 128932,
 128964,
 129028,
 129034,
 129119,
 129160,
 129273,
 129317,
 129383,
 129391,
 129536,
 129551,
 129633,
 129725,
 129746,
 129759,
 129829,
 129867,
 129907,
 129934,
 129988,
 130020,
 130076,
 130133,
 130176,
 130211,
 130389,
 130450,
 130556,
 130611,
 130914,
 130980,
 130986,
 130992,
 131051,
 131118,
 131321,
 131328,
 131346,
 131352,
 131407,
 131422,
 131522,
 131656,
 131700,
 131708,
 131768,
 132026,
 132055,
 132092,
 132152,
 132274,
 132280,
 132342,
 132401,
 132433,
 132442,
 132598,
 132663,
 132723,
 132856,
 132862,
 132888,
 132989,
 133033,
 133042,
 133047,
 133081,
 133125,
 133203,
 133209,
 133219,
 133224,
 133225,
 133430,
 133495,
 133555,
 133885,
 133906,
 133967,
 133972,
 133981,
 133986,
 134043,
 134182,
 134319,
 134331,
 134370,
 134382,
 134392,
 134413,
 134444,
 134466,
 134471,
 134497,
 134534,
 134547,
 134655,
 134698,
 134702,
 134723,
 134764,
 134774,
 134823,
 134974,
 135001,
 135008,
 135091,
 135212,
 135223,
 135268,
 135332,
 135336,
 135379,
 135454,
 135468,
 135509,
 135522,
 135524,
 135916,
 136029,
 136185,
 136321,
 136354,
 136402,
 136452,
 136465,
 136496,
 136515,
 136554,
 136610,
 136748,
 136766,
 136843,
 136885,
 137052,
 137167,
 137215,
 137232,
 137236,
 137245,
 137314,
 137323,
 137462,
 137569,
 137638,
 137700,
 137761,
 137868,
 137873,
 137876,
 137885,
 137938,
 138159,
 138178,
 138258,
 138301,
 138376,
 138418,
 138523,
 138604,
 138652,
 138679,
 138774,
 138836,
 138864,
 138965,
 139157,
 139289,
 139333,
 139340,
 139415,
 139565,
 139582,
 139699,
 139712,
 139770,
 139909,
 139932,
 139969,
 139996,
 140020,
 140121,
 140122,
 140131,
 140140,
 140198,
 140233,
 140301,
 140465,
 140505,
 140507,
 140641,
 140669,
 140721,
 140722,
 140723,
 140835,
 141148,
 141303,
 141332,
 141362,
 141439,
 141492,
 141497,
 141691,
 141755,
 141797,
 141825,
 141856,
 141862,
 142011,
 142053,
 142098,
 142119,
 142348,
 142411,
 142432,
 142468,
 142544,
 142617,
 142633,
 142643,
 142646,
 142696,
 142903,
 142980,
 142999,
 143085,
 143093,
 143130,
 143223,
 143269,
 143298,
 143320,
 143396,
 143409,
 143410,
 143432,
 143436,
 143490,
 143503,
 143536,
 143753,
 143775,
 143872,
 143885,
 143930,
 143949,
 143962,
 143996,
 144063,
 144207,
 144271,
 144377,
 144396,
 144556,
 144561,
 144902,
 145069,
 145205,
 145211,
 145257,
 145282,
 145305,
 145312,
 145322,
 145358,
 145460,
 145481,
 145568,
 145621,
 145697,
 145701,
 145743,
 145820,
 145965,
 146031,
 146101,
 146103,
 146105,
 146107,
 146220,
 146236,
 146277,
 146330,
 146380,
 146416,
 146427,
 146431,
 146433,
 146502,
 146593,
 146648,
 146668,
 146708,
 146763,
 146854,
 146879,
 146947,
 147084,
 147123,
 147134,
 147206,
 147212,
 147237,
 147279,
 147304,
 147391,
 147435,
 147436,
 147502,
 147595,
 147673,
 147681,
 147739,
 147891,
 147984,
 147997,
 148006,
 148017,
 148188,
 148266,
 148350,
 148383,
 148473,
 148544,
 148581,
 148606,
 148664,
 148720,
 148741,
 148748,
 148847,
 149066,
 149133,
 149148,
 149154,
 149165,
 149170,
 149237,
 149337,
 149408,
 149465,
 149481,
 149498,
 149611,
 149759,
 149787,
 149842,
 149922,
 150042,
 150051,
 150092,
 150103,
 150117,
 150129,
 150132,
 150159,
 150288,
 150364,
 150375,
 150487,
 150503,
 150567,
 150659,
 150661,
 150685,
 150708,
 150711,
 151035,
 151082,
 151111,
 151196,
 151204,
 151223,
 151224,
 151367,
 151399,
 151408,
 151463,
 151488,
 151625,
 151707,
 151829,
 152081,
 152133,
 152136,
 152182,
 152302,
 152337,
 152355,
 152418,
 152515,
 152593,
 152720,
 152744,
 152773,
 152868,
 153066,
 153070,
 153086,
 153263,
 153312,
 153316,
 153428,
 153567,
 153599,
 153669,
 153692,
 153743,
 153918,
 153986,
 154214,
 154335,
 154339,
 154383,
 154476,
 154516,
 154615,
 154664,
 154679,
 154710,
 154817,
 154901,
 154984,
 155052,
 155308,
 155309,
 155343,
 155356,
 155417,
 155419,
 155524,
 155525,
 155571,
 155605,
 155708,
 155715,
 155784,
 155832,
 155897,
 155902,
 155904,
 156033,
 156068,
 156099,
 156207,
 156272,
 156307,
 156324,
 156425,
 156433,
 156534,
 156689,
 156696,
 156758,
 156834,
 156864,
 156947,
 157000,
 157029,
 157068,
 157244,
 157330,
 157355,
 157586,
 157609,
 157688,
 157789,
 157802,
 157834,
 158018,
 158050,
 158053,
 158067,
 158151,
 158196,
 158222,
 158238,
 158274,
 158284,
 158355,
 158403,
 158487,
 158635,
 158759,
 158816,
 158857,
 158892,
 158909,
 158927,
 158987,
 159024,
 159033,
 159111,
 159164,
 159204,
 159212,
 159308,
 159531,
 159597,
 159603,
 159617,
 159735,
 159795,
 159804,
 159839,
 159894,
 159957,
 160041,
 160054,
 160091,
 160164,
 160202,
 160205,
 160258,
 160291,
 160354,
 160372,
 160707,
 160716,
 160778,
 ...]

In [ ]:
print (" 没有死亡时间记录的死亡人数 %s."
       %sum(gdata[gdata['DEATHTIME'].isnull()]['HOSPITAL_EXPIRE_FLAG']==1))

In [128]:
gdata = data.DataFrame()
gdata

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,HOSPITAL_EXPIRE_FLAG,INTIME,OUTTIME,DEATHTIME
0,23,124321,234044,0,2157-10-21 11:40:38,2157-10-22 16:08:48,NaT
1,36,165660,241249,0,2134-05-12 06:52:47,2134-05-16 15:14:20,NaT
2,85,112077,291697,0,2167-07-25 18:50:37,2167-07-27 18:37:35,NaT
3,107,182383,252542,0,2121-11-30 19:24:56,2121-12-01 21:20:57,NaT
4,107,174162,264253,0,2122-05-14 19:38:27,2122-05-16 17:59:33,NaT
...,...,...,...,...,...,...,...
14590,99965,101083,257338,0,2191-07-13 19:40:34,2191-07-15 13:06:19,NaT
14591,99973,150202,275083,0,2180-11-27 02:30:43,2180-11-29 20:04:42,NaT
14592,99985,176670,279638,0,2181-01-29 05:33:34,2181-02-09 12:45:20,NaT
14593,99992,197084,242052,0,2144-07-25 18:04:42,2144-07-27 17:27:55,NaT
14594,99999,113369,246512,0,2117-12-31 11:52:36,2118-01-01 14:51:27,NaT

In [129]:
#       'DEATHTIME'（死亡时间） 不为空值 时    在 医院（包括ICU） 内死亡的人
# 死亡 的数据
_mortalities = gdata[pd.notnull(gdata['DEATHTIME'])].reset_index(drop=True)
_mortalities

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,HOSPITAL_EXPIRE_FLAG,INTIME,OUTTIME,DEATHTIME
0,109,189332,287547,1,2142-08-28 19:49:27,2142-08-30 16:10:05,2142-08-30 15:20:00
1,111,155897,249202,1,2144-07-01 04:13:59,2144-07-01 17:56:31,2144-07-01 14:55:00
2,124,138376,256064,1,2166-01-09 13:05:18,2166-02-01 10:52:09,2166-02-01 06:55:00
3,188,132401,246866,1,2161-12-09 17:03:04,2161-12-17 21:04:31,2162-01-17 05:50:00
4,188,132401,292343,1,2162-01-10 16:36:40,2162-01-16 18:35:07,2162-01-17 05:50:00
...,...,...,...,...,...,...,...
1917,99865,189346,259297,1,2184-12-30 07:14:22,2184-12-31 02:56:46,2184-12-30 00:01:00
1918,99881,172327,214377,1,2174-01-20 14:00:30,2174-01-22 18:36:04,2174-01-22 17:27:00
1919,99899,188409,245756,1,2113-06-04 15:56:39,2113-06-13 19:23:51,2113-06-13 17:30:00
1920,99935,174624,255381,1,2139-12-15 09:15:19,2139-12-16 01:05:28,2139-12-15 12:00:00
1921,99955,108494,243255,1,2139-07-14 02:32:21,2139-07-19 18:39:56,2139-07-19 05:20:00

In [130]:
# 在 ICU 内死亡的人  的 'ICUSTAY_ID'
ic_deaths = _mortalities.apply(lambda row: row['ICUSTAY_ID'] if row['DEATHTIME'] <= row['OUTTIME'] else -1 ,axis=1)

In [131]:
ic_deaths

0       287547
1       249202
2       256064
3           -1
4           -1
         ...
1917    259297
1918    214377
1919    245756
1920    255381
1921    243255
Length: 1922, dtype: int64

In [132]:
ic_deaths = [i for i in ic_deaths if i!=-1]

In [133]:
# 输出 'ICUSTAY_ID' 不为-1 的 有效值
ic_deaths

[287547,
 249202,
 256064,
 209737,
 230340,
 207646,
 297131,
 226178,
 250915,
 207975,
 261790,
 288257,
 278829,
 211792,
 238824,
 249543,
 292192,
 272340,
 293734,
 244615,
 222399,
 232017,
 233827,
 238742,
 271998,
 282019,
 211119,
 237253,
 288743,
 201695,
 227133,
 203723,
 265627,
 256387,
 240660,
 293295,
 283569,
 266331,
 282172,
 276105,
 293631,
 294193,
 267968,
 223103,
 218554,
 280086,
 292591,
 259407,
 297300,
 205632,
 218389,
 268341,
 284839,
 237946,
 216732,
 280928,
 239588,
 290919,
 211206,
 212905,
 248920,
 233345,
 217994,
 255459,
 207582,
 259960,
 226056,
 220601,
 246616,
 281561,
 214959,
 239660,
 253748,
 278145,
 259089,
 231750,
 209452,
 227071,
 285919,
 202537,
 243592,
 206229,
 239547,
 281019,
 271192,
 294185,
 262847,
 226059,
 200897,
 279765,
 277376,
 292552,
 298516,
 294197,
 295073,
 243623,
 272216,
 255002,
 264104,
 228229,
 254179,
 252056,
 266775,
 234655,
 244756,
 223115,
 272820,
 256784,
 204320,
 296178,
 211068,
 283459,
 210028,
 244224,
 203143,
 209813,
 212183,
 207684,
 229620,
 211414,
 226738,
 221907,
 252073,
 252034,
 266372,
 291132,
 240297,
 235955,
 240877,
 204305,
 291639,
 219827,
 201568,
 245265,
 241564,
 263828,
 263708,
 232804,
 209173,
 223732,
 200487,
 232563,
 280895,
 260497,
 254270,
 201430,
 274326,
 299678,
 290409,
 244534,
 265313,
 216855,
 291956,
 201286,
 241072,
 257299,
 299566,
 258141,
 240483,
 249399,
 281110,
 267088,
 287041,
 277903,
 261383,
 214005,
 205698,
 200095,
 230812,
 247794,
 235073,
 255368,
 267734,
 257466,
 272959,
 230610,
 239427,
 225993,
 216852,
 239610,
 271915,
 259801,
 202439,
 296269,
 255228,
 273969,
 299482,
 232991,
 294324,
 221625,
 298189,
 225600,
 247716,
 202529,
 255563,
 228908,
 294910,
 214286,
 286092,
 294413,
 237345,
 248688,
 243411,
 232608,
 266205,
 206667,
 234458,
 290836,
 265363,
 281050,
 217347,
 264854,
 285750,
 271279,
 287038,
 247846,
 204132,
 248977,
 212548,
 255274,
 224659,
 282628,
 254125,
 244152,
 205671,
 273427,
 272063,
 227118,
 222940,
 270779,
 288564,
 278264,
 214455,
 269773,
 281411,
 234421,
 291665,
 274731,
 290913,
 267452,
 236015,
 296880,
 218987,
 214522,
 259964,
 221684,
 246486,
 295801,
 280297,
 265176,
 221336,
 224474,
 298738,
 294692,
 246843,
 268470,
 221305,
 240010,
 267364,
 288420,
 299125,
 250165,
 257692,
 282530,
 224458,
 289083,
 245624,
 220671,
 200784,
 297782,
 275018,
 236575,
 285771,
 212771,
 217724,
 230334,
 279243,
 261803,
 283993,
 237048,
 283590,
 244434,
 226614,
 287616,
 211516,
 263447,
 264872,
 279421,
 278557,
 258959,
 214355,
 255601,
 223420,
 207089,
 276206,
 286301,
 254757,
 276524,
 209893,
 228213,
 216216,
 277565,
 222450,
 263754,
 230192,
 287356,
 261754,
 229339,
 284682,
 210771,
 263811,
 227806,
 262514,
 226633,
 241425,
 268399,
 217352,
 223926,
 276614,
 204399,
 265589,
 296335,
 239304,
 290520,
 214725,
 280706,
 211394,
 206855,
 270704,
 216710,
 236078,
 224952,
 233654,
 205021,
 202941,
 267997,
 230116,
 271305,
 282878,
 259532,
 203784,
 204640,
 229381,
 219302,
 291662,
 216027,
 264815,
 286446,
 214738,
 267531,
 210463,
 206304,
 223434,
 223510,
 286248,
 251424,
 256347,
 221212,
 206851,
 287522,
 209051,
 217175,
 233788,
 275298,
 284670,
 230690,
 225731,
 237068,
 228407,
 278148,
 240345,
 281000,
 228331,
 268411,
 230269,
 244629,
 252547,
 215286,
 240236,
 256564,
 235629,
 275650,
 219878,
 207383,
 256101,
 270865,
 252138,
 213667,
 227353,
 258221,
 283934,
 251192,
 259593,
 209525,
 252836,
 298314,
 248782,
 259413,
 203052,
 245371,
 236634,
 296651,
 208803,
 216472,
 292213,
 290518,
 267200,
 279396,
 271722,
 265369,
 208730,
 203105,
 290209,
 283771,
 289346,
 240910,
 205262,
 207180,
 273448,
 279937,
 271089,
 258955,
 275199,
 244833,
 233796,
 288288,
 290603,
 242593,
 218464,
 273929,
 268509,
 298412,
 251798,
 205265,
 267129,
 213391,
 225233,
 249159,
 204280,
 206830,
 225421,
 216550,
 229873,
 221797,
 213011,
 278420,
 249062,
 243597,
 211707,
 242406,
 284262,
 228011,
 268662,
 245481,
 271470,
 261493,
 215410,
 292053,
 235741,
 239034,
 207743,
 249476,
 242783,
 246096,
 221739,
 260723,
 273148,
 273660,
 247709,
 234571,
 276728,
 212875,
 270722,
 262320,
 202629,
 271161,
 217726,
 285446,
 230949,
 226799,
 253488,
 208138,
 237331,
 240507,
 225352,
 273423,
 262913,
 202445,
 258613,
 248681,
 284116,
 238966,
 235702,
 200033,
 204061,
 293063,
 289338,
 265787,
 261497,
 274801,
 294961,
 210207,
 256550,
 221287,
 238073,
 264166,
 222096,
 297402,
 220056,
 241130,
 264138,
 297719,
 216709,
 255795,
 245637,
 273761,
 269568,
 283656,
 206913,
 266739,
 261808,
 236607,
 219193,
 210185,
 204505,
 251320,
 231047,
 225230,
 207253,
 210368,
 203415,
 267448,
 273294,
 233945,
 259946,
 257911,
 241795,
 279106,
 256001,
 248923,
 289599,
 282470,
 251282,
 249803,
 287187,
 276930,
 260605,
 246244,
 222432,
 262983,
 253466,
 298176,
 290411,
 253765,
 225955,
 294245,
 299533,
 258032,
 292737,
 237439,
 292453,
 242709,
 262078,
 213763,
 251096,
 258318,
 234617,
 289200,
 209885,
 275273,
 204207,
 292635,
 208157,
 245235,
 292052,
 225543,
 212239,
 271888,
 212469,
 253795,
 237390,
 233547,
 203164,
 208362,
 237812,
 253266,
 205777,
 257365,
 245558,
 212969,
 230121,
 290179,
 226453,
 223509,
 270622,
 213530,
 245236,
 225331,
 297606,
 290185,
 239898,
 282778,
 216192,
 233057,
 228517,
 257399,
 243872,
 264293,
 218888,
 290349,
 278206,
 264733,
 280407,
 259586,
 203702,
 256172,
 229952,
 239563,
 212472,
 264473,
 241581,
 236628,
 293325,
 207377,
 294019,
 293956,
 299698,
 294140,
 214165,
 254407,
 230023,
 267047,
 295783,
 254962,
 248208,
 255590,
 213592,
 238154,
 262977,
 253567,
 280258,
 297984,
 272900,
 209695,
 226445,
 249395,
 266337,
 217914,
 249143,
 234735,
 235689,
 204800,
 275223,
 246534,
 236366,
 275427,
 291726,
 218489,
 297834,
 231495,
 245476,
 204724,
 286107,
 214244,
 271284,
 277836,
 232140,
 248509,
 265217,
 218351,
 264462,
 256837,
 215528,
 233322,
 274197,
 208691,
 213945,
 214877,
 287654,
 263969,
 275597,
 288116,
 273634,
 252303,
 265074,
 285128,
 207526,
 200613,
 288588,
 243848,
 294941,
 202272,
 235985,
 252833,
 226813,
 254679,
 293299,
 266791,
 268126,
 257586,
 249469,
 247544,
 298534,
 234797,
 295942,
 288884,
 279344,
 238407,
 264912,
 224034,
 228978,
 252599,
 210772,
 280802,
 264814,
 294890,
 258630,
 287927,
 243552,
 274240,
 298116,
 262111,
 292027,
 240206,
 209536,
 281127,
 209972,
 230962,
 281879,
 200976,
 282600,
 263350,
 245303,
 291673,
 231175,
 212192,
 243468,
 277761,
 237884,
 285639,
 216259,
 224886,
 225097,
 245398,
 264486,
 276422,
 234940,
 271036,
 266967,
 235162,
 219462,
 234516,
 214974,
 207620,
 246876,
 269632,
 220341,
 224428,
 211778,
 295505,
 296036,
 279166,
 293534,
 233052,
 246918,
 280112,
 293158,
 240901,
 289049,
 289328,
 258375,
 278448,
 291602,
 210159,
 231469,
 269681,
 226917,
 256267,
 208255,
 247311,
 246840,
 214965,
 228194,
 224593,
 205174,
 244207,
 221832,
 236411,
 265928,
 210484,
 246984,
 266661,
 237656,
 210401,
 241589,
 207288,
 299665,
 232761,
 241219,
 218243,
 286811,
 261053,
 235254,
 250755,
 239136,
 271524,
 277402,
 259851,
 205250,
 280667,
 274037,
 289816,
 270814,
 285654,
 296952,
 256401,
 206402,
 295025,
 288086,
 277936,
 225361,
 255914,
 203714,
 289131,
 265944,
 241261,
 247815,
 278450,
 274228,
 255388,
 234962,
 207942,
 246213,
 212441,
 299637,
 263863,
 242361,
 296053,
 249329,
 260838,
 288340,
 286899,
 290347,
 217108,
 214106,
 250307,
 211829,
 269115,
 271877,
 231795,
 290763,
 283448,
 285063,
 290244,
 282164,
 273856,
 228239,
 282496,
 275544,
 280339,
 263642,
 251723,
 219294,
 209513,
 219537,
 249337,
 248768,
 282997,
 283102,
 240366,
 287327,
 260160,
 200024,
 278240,
 257986,
 272872,
 267759,
 212477,
 222749,
 240003,
 221647,
 233566,
 260884,
 231263,
 277533,
 264026,
 209739,
 283477,
 202610,
 289046,
 256146,
 293257,
 202735,
 228317,
 292824,
 210126,
 294860,
 289980,
 263022,
 217022,
 219545,
 205720,
 234163,
 230999,
 247144,
 213637,
 255838,
 240761,
 202391,
 235448,
 233991,
 261360,
 230843,
 200919,
 273102,
 234357,
 202907,
 277529,
 262484,
 284101,
 277703,
 261365,
 254476,
 255703,
 213540,
 248886,
 207563,
 263136,
 269416,
 226773,
 222828,
 201234,
 266481,
 229822,
 207368,
 247054,
 207842,
 209138,
 236522,
 277175,
 216834,
 230205,
 263733,
 288674,
 280335,
 291631,
 279889,
 274764,
 213058,
 247078,
 234699,
 273498,
 273540,
 258430,
 231572,
 222620,
 220306,
 224971,
 273964,
 207794,
 279496,
 250218,
 222930,
 210011,
 232166,
 214170,
 236501,
 279389,
 239102,
 257445,
 242603,
 215669,
 258347,
 299452,
 215306,
 250129,
 242961,
 233187,
 237924,
 280419,
 205508,
 230387,
 265037,
 210919,
 210248,
 201653,
 221985,
 273939,
 259634,
 221572,
 210700,
 238836,
 236972,
 278204,
 250547,
 256628,
 233441,
 211890,
 235657,
 268715,
 ...]

In [ ]:
#     1922个 医院 死亡人数
#     1279个发生在ICU中
print( "%d 人在医院死亡" %len(_mortalities))
print ("%d 人在ICU死亡." %len(ic_deaths))

In [135]:
##这些都是字典:

## 第一次进  ICU  的  'ICUSTAY_ID' 值
f = open('first_stays.pkl', 'wb')
pickle.dump(first_stays, f)
f.close()

#  对于每个 'HADM_ID' 而言进icu的次数
f = open('stay_counts.pkl', 'wb')
pickle.dump(ic_count, f)
f.close()

## These are lists:列表
# 在医院内死亡   的  'HADM_ID'  值
f = open('moratlities.pkl', 'wb')
pickle.dump(mortality_list, f)
f.close()

#    ICU 内死亡的   'ICUSTAY_ID'  值
f = open('icu_deaths.pkl', 'wb')
pickle.dump(ic_deaths, f)
f.close()

In [136]:
# more_than_one_stay = sum(np.asarray(ic_count.values())>1)
# more_than_two_stay = sum(np.asarray(ic_count.values())>2)
ic_count_list=list(ic_count['HADM_ID'])
more_than_one_stay=0
more_than_two_stay=0
one_stay=0
for i in ic_count_list:
    if i >1 :
        more_than_one_stay+=1
    if i >2:
        more_than_two_stay+=1
    if i == 1:
        one_stay+=1
print( '进入ICU超过一次的数量%s'  %more_than_one_stay)
print('进入ICU超过两次的数量%s'  %more_than_two_stay)
print('只进过一次ICU的数量%s'  %one_stay)

进入ICU超过一次的数量742
进入ICU超过两次的数量80
只进过一次ICU的数量13006

再入院率

In [137]:
more_than_one_stay/float(len(gdata['HADM_ID'].unique()))

0.0539714867617108

 总体死亡率

In [138]:
len(mortality_list)/float(len(gdata['HADM_ID'].unique()))

0.12227233052080302

重新接纳死亡率:

In [51]:
# 推导尝试的过程
# ic=ic_count.values()
# ic_list=list(ic)[0]
# ic_list=pd.DataFrame(ic_list)
# i=ic_list.loc[100003]
# if int(i) > 1:
#     print(i)
# print(0)
#

转换成DataFrame格式的ic_count

In [139]:
ic_count_pd=pd.DataFrame(list(ic_count.values())[0])
# int(ic_list.loc[100003])
ic_count_pd

         count
HADM_ID
100001       1
100003       1
100010       1
100016       1
100018       1
...        ...
199949       1
199957       1
199958       1
199967       1
199999       1

[13748 rows x 1 columns]

输出   再入院的死亡率  和    一次入院的死亡率

In [140]:
death_2=0

death_1=0
for mortality in mortality_list:
    if int(ic_count_pd.loc[mortality])>1:
        death_2+=1
    if int(ic_count_pd.loc[mortality])==1:
        death_1+=1
readmit_mort = death_2/float(more_than_one_stay)
single_mort = death_1/float(one_stay)
print('重新接纳死亡率%s' %readmit_mort)
print('一次Stay死亡率%s' %single_mort)

重新接纳死亡率0.2601078167115903
一次Stay死亡率0.11440873443026296

In [141]:
gdata_grouped

,HADM_ID,SUBJECT_ID,first_intime,first_stay_id,count,mortality
0,100001,58526,2117-09-11 11:47:35,275225,1,0
1,100003,54610,2150-04-17 15:35:42,209281,1,0
2,100010,55853,2109-12-10 21:58:01,271147,1,0
3,100016,68591,2188-05-24 13:07:20,217590,1,0
4,100018,58128,2176-08-29 16:56:37,269533,1,0
...,...,...,...,...,...,...
13743,199949,64296,2181-05-15 18:20:51,275223,1,1
13744,199957,97714,2181-04-07 10:53:54,253382,1,0
13745,199958,26705,2178-09-02 21:13:22,277656,1,0
13746,199967,42131,2184-07-31 17:42:53,201521,1,0
13747,199999,40370,2136-04-06 16:01:10,211153,1,0

In [56]:
# 第一次入院时间
gdata_grouped['first_intime']

0       2117-09-11 11:47:35
1       2150-04-17 15:35:42
2       2109-12-10 21:58:01
3       2188-05-24 13:07:20
4       2176-08-29 16:56:37
                ...
13743   2181-05-15 18:20:51
13744   2181-04-07 10:53:54
13745   2178-09-02 21:13:22
13746   2184-07-31 17:42:53
13747   2136-04-06 16:01:10
Name: first_intime, Length: 13748, dtype: datetime64[ns]

In [57]:
# 第一次  进 ICU  的 'ICUSTAY_ID'
# first_stays['HADM_ID']
first_stays

{'HADM_ID': HADM_ID
 100001    275225
 100003    209281
 100010    271147
 100016    217590
 100018    269533
            ...
 199949    275223
 199957    253382
 199958    277656
 199967    201521
 199999    211153
 Name: first_stay_id, Length: 13748, dtype: int64}

In [2]:
# !source activate myenv
# !python -m ipykernel install --user --name myenv --display-name "Python (Resnet)"

'source' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

Installed kernelspec myenv in C:\Users\ASUS\AppData\Roaming\jupyter\kernels\myenv

In [73]:
# ic_count_pd.index
ic_count_pd

         count
HADM_ID
100001       1
100003       1
100010       1
100016       1
100018       1
...        ...
199949       1
199957       1
199958       1
199967       1
199999       1

[13748 rows x 1 columns]