In [ ]:
import numpy as np
import pandas as pd
import pickle
from collections import OrderedDict
import sqlalchemy
import psycopg2

In [3]:
%load_ext sql
%sql mysql://root:123456@localhost/mimic
%sql use mimic

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql://root:***@localhost/mimic
0 rows affected.

[]

In [4]:
# %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%fraction%' OR LABEL LIKE '%fio2%') AND DBSOURCE='metavision'
# 白蛋白血清（ALB）、[227456]
ALB= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Albumin%' OR LABEL LIKE '%ALB%') AND DBSOURCE='metavision'
# 丙氨酸氨基转移酶（ALT）[220644]
ALT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE 'Alanine'  OR LABEL LIKE '%ALT%') AND DBSOURCE='metavision'
# 天冬氨酸氨基转移酶（AST）[220587]
AST= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE 'Aspartate' OR LABEL LIKE '%Aspartic%' OR LABEL LIKE '%AST%') AND DBSOURCE='metavision'
# 白细胞（WBC）、[220546 ,226779,226780,227062,227063],
WBC= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%WBC%') AND DBSOURCE='metavision'
# 血小板计数（PLT）、[225170 , 227457]
PLT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Platelet%'  OR LABEL LIKE '%PLT%' OR LABEL LIKE '%BPC%' ) AND DBSOURCE='metavision'
# 中性粒细胞（NEUT）、[225643]
NEUT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Neutrophil%'  OR LABEL LIKE '%NEUT%') AND DBSOURCE='metavision'

# # 淋巴细胞（LY）、[没找到合适的]
# LY= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Lymphocyte%'  OR LABEL LIKE '%LY%' ) AND DBSOURCE='metavision'

# 血清总胆红素（TBIL）、[225690]
TBIL= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%total%' OR LABEL LIKE '%TBIL%' OR LABEL LIKE '%TBLL%' OR LABEL LIKE '%STB%') AND DBSOURCE='metavision'
# # 血清肌酐（SCr）、肌酸酐 Creatinine [220615]  ['creatinine'] = [220615, 226752, 227005],,/
SCr= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Serum%' OR LABEL LIKE '%Creatinine%' OR LABEL LIKE '%SCr%') AND DBSOURCE='metavision'
# 血尿素氮（BUN）、[225624,227000,227001]
BUN= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%BUN%') AND DBSOURCE='metavision'

# # 红细胞（RBC）、
# RBC= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%RBC%' OR LABEL LIKE '%erythrocyte%' ) AND DBSOURCE='metavision'

# 血红蛋白（HBG）、[220228]  ['haemoglobin'] = [220228]
HGB= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Hemoglobin%'  OR LABEL LIKE '%HGB%') AND DBSOURCE='metavision'
# # 血细胞比容（HCT）、
# HCT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Haematocrit%'  OR LABEL LIKE '%HCT%') AND DBSOURCE='metavision'

# 部分凝血活酶时间（PTT）、[227466]
PTT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%PTT%') AND DBSOURCE='metavision'
# 凝血酶原时间（PT）、 [227465]
PT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Prothrombin%'  OR LABEL LIKE '%PT%') AND DBSOURCE='metavision'
# 国际标准化比值 （INR）、[227467]
INR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%international%'  OR LABEL LIKE '%INR%') AND DBSOURCE='metavision'

# # 中性粒细胞/淋巴细胞比值 （NLR）、
# NLR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%neutrophil%'  OR LABEL LIKE '%NLR%') AND DBSOURCE='metavision'

# 血小板（PLR）Platelets、[225170 227457]
PLR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Platelet%'  OR LABEL LIKE '%PLR%') AND DBSOURCE='metavision'
# PCO2、[227036]   ['pco2'] = [220235,226062,226063,227036] ,/
PCO2= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%PaCO2%'  OR LABEL LIKE '%PCO2%') AND DBSOURCE='metavision'
# PO2、[227516,227039,226770] ['po2'] = [226770,227039,227516,220224] ,/
PO2= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%PO2%') AND DBSOURCE='metavision'
# 体温、[223762]
T= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%temperature%' OR LABEL LIKE '%T%') AND DBSOURCE='metavision'
# 呼吸速率RR、[220210,226773,226774,227050,227051,224690,224689] ['resp'] = [220210, 224688, 224689, 224690],/
RR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Breathe %' OR LABEL LIKE '%Respiration%' OR LABEL LIKE 'RR%'OR LABEL LIKE 'Respiratory%') AND DBSOURCE='metavision'

# # 平均血压 （MEANBP）、
# MEANBP= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%mean blood pressure %' OR LABEL LIKE '%blood%' OR LABEL LIKE 'MBP%') AND DBSOURCE='metavision'

# 心率、[220045,226763,226764,227018,227019] [220045],/
HR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%heart%' OR LABEL LIKE '%HR%') AND DBSOURCE='metavision'
# 葡萄糖GLU、[228388,220621, 226537,227015,227016,]
GLU = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Glucose%' OR LABEL LIKE '%GLU%') AND DBSOURCE='metavision'
# 凝血酶THR， [227469]
THR = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Thrombus %' OR LABEL LIKE '%thrombi%') AND DBSOURCE='metavision'
# 舒张压 （DIASBP），[226851,226853]
DIASBP = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%diastolic pressure%' OR LABEL LIKE '%DIASBP%' OR LABEL LIKE 'DP%'OR LABEL LIKE 'DBP%') AND DBSOURCE='metavision'
# CO2，[220245]
CO2 = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%carbon dioxide %' OR LABEL LIKE '%CO2%') AND DBSOURCE='metavision'
# 氯化物（CL），[220602,]
CL = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%chlorid%' OR LABEL LIKE '%CL%') AND DBSOURCE='metavision'

# 乳酸，Ringers Lactate,[220955]
LA = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Lactate%') AND DBSOURCE='metavision'

# 钠 Sodium ，[220645,226775,226776,227052,227053,228389,228390]  [220645, 226534, 226776],/
Na = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Natrium%' OR LABEL LIKE '%Na%' OR LABEL LIKE '%Sodium%') AND DBSOURCE='metavision'

# # 浆细胞，
# Plasmocyte  = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Plasmocyte%' OR LABEL LIKE '%myeloma%' OR LABEL LIKE '%phlogocyte%') AND DBSOURCE='metavision'

# # 机械通气（MV），
# MV = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%mechanical ventilation%' OR LABEL LIKE '%MV%') AND DBSOURCE='metavision'

 * mysql://root:***@localhost/mimic
8 rows affected.
 * mysql://root:***@localhost/mimic
10 rows affected.
 * mysql://root:***@localhost/mimic
38 rows affected.
 * mysql://root:***@localhost/mimic
5 rows affected.
 * mysql://root:***@localhost/mimic
5 rows affected.
 * mysql://root:***@localhost/mimic
1 rows affected.
 * mysql://root:***@localhost/mimic
11 rows affected.
 * mysql://root:***@localhost/mimic
19 rows affected.
 * mysql://root:***@localhost/mimic
3 rows affected.
 * mysql://root:***@localhost/mimic
1 rows affected.
 * mysql://root:***@localhost/mimic
2 rows affected.
 * mysql://root:***@localhost/mimic
76 rows affected.
 * mysql://root:***@localhost/mimic
2 rows affected.
 * mysql://root:***@localhost/mimic
5 rows affected.
 * mysql://root:***@localhost/mimic
2 rows affected.
 * mysql://root:***@localhost/mimic
4 rows affected.
 * mysql://root:***@localhost/mimic
2176 rows affected.
 * mysql://root:***@localhost/mimic
14 rows affected.
 * mysql://root:***@localhost/mimic
87 rows affected.
 * mysql://root:***@localhost/mimic
17 rows affected.
 * mysql://root:***@localhost/mimic
4 rows affected.
 * mysql://root:***@localhost/mimic
2 rows affected.
 * mysql://root:***@localhost/mimic
9 rows affected.
 * mysql://root:***@localhost/mimic
150 rows affected.
 * mysql://root:***@localhost/mimic
4 rows affected.
 * mysql://root:***@localhost/mimic
175 rows affected.

In [6]:
sub_limit = 100  ## 子集大小:随机选择的icustay数量

In [7]:
# 具有 DISTINCT 子句的 SQL COUNT（） 函数消除了相同数据的重复外观。DISTINCT 在给定的选择语句中只能出现一次。获取具有指定条件的唯一行数 
%sql SELECT D.ITEMID, D.LABEL, COUNT(DISTINCT(II.ICUSTAY_ID)) AS STAY_COUNT, (COUNT(DISTINCT(II.ICUSTAY_ID))/(:sub_limit)) AS FREQ \
FROM CHARTEVENTS C \
INNER JOIN ( \
    SELECT * FROM ( \
        SELECT * \
        FROM ICUSTAYS I \
        WHERE I.DBSOURCE='metavision' AND (I.FIRST_CAREUNIT='MICU' or I.FIRST_CAREUNIT='SICU') \
        ORDER BY RAND() \
        LIMIT :sub_limit) AS II_sub \
    ORDER BY II_sub.SUBJECT_ID, II_sub.HADM_ID, II_sub.ICUSTAY_ID \
            ) AS II \
ON (C.SUBJECT_ID=II.SUBJECT_ID \
    AND C.HADM_ID=II.HADM_ID \
    AND C.ICUSTAY_ID=II.ICUSTAY_ID) \
INNER JOIN D_ITEMS D \
ON C.ITEMID=D.ITEMID \
WHERE D.ITEMID IN (227456) \
GROUP BY D.ITEMID

 * mysql://root:***@localhost/mimic
1 rows affected.

[(227456, 'Albumin', 40, Decimal('0.4000'))]

In [8]:
%sql SELECT * FROM mimic.mimiciii.CHARTEVENTS WHERE ITEMID=227456 LIMIT 5

 * mysql://root:***@localhost/mimic
(_mysql_exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.CHARTEVENTS WHERE ITEMID=227456 LIMIT 5' at line 1")
[SQL: SELECT * FROM mimic.mimiciii.CHARTEVENTS WHERE ITEMID=227456 LIMIT 5]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [9]:
sub_limit=1000

In [10]:
%sql SELECT D.ITEMID, D.LABEL, COUNT(DISTINCT(II.ICUSTAY_ID)) AS STAY_COUNT, (COUNT(DISTINCT(II.ICUSTAY_ID))/(:sub_limit)) AS FREQ \
FROM CHARTEVENTS C \
INNER JOIN ( \
    SELECT * FROM ( \
        SELECT * \
        FROM ICUSTAYS I \
        WHERE I.DBSOURCE='metavision' AND (I.FIRST_CAREUNIT='MICU' or I.FIRST_CAREUNIT='SICU') \
        ORDER BY RAND() \
        LIMIT :sub_limit) AS II_sub \
    ORDER BY II_sub.SUBJECT_ID, II_sub.HADM_ID, II_sub.ICUSTAY_ID \
            ) AS II \
ON (C.SUBJECT_ID=II.SUBJECT_ID \
    AND C.HADM_ID=II.HADM_ID \
    AND C.ICUSTAY_ID=II.ICUSTAY_ID) \
INNER JOIN D_ITEMS D \
ON C.ITEMID=D.ITEMID \
WHERE D.ITEMID IN (227456,220644,220587,220546 ,226779,226780,227062,227063,225170 , 227457,225643,225690,220615,\
                   226752, 227005,225624,227000,227001,220228,227466,\
                227465,227467,225170,227457,220235,226062,226063,227036,226770,\
                   227039,227516,220224,223762,220210, 224688,\
                   224689, 224690,220045,228388,220621,\
                   226537,227015,227016,227469,226851,226853,220245,220602,220955,220645, 226534, 226776) \
GROUP BY D.ITEMID \
ORDER BY FREQ

 * mysql://root:***@localhost/mimic
30 rows affected.

[(227469, 'Thrombin', 4, Decimal('0.0040')),
 (223762, 'Temperature Celsius', 48, Decimal('0.0480')),
 (227516, 'PO2 (Mixed Venous)', 63, Decimal('0.0630')),
 (226062, 'Venous CO2 Pressure', 105, Decimal('0.1050')),
 (226063, 'Venous O2 Pressure', 105, Decimal('0.1050')),
 (226534, 'Sodium (whole blood)', 143, Decimal('0.1430')),
 (226537, 'Glucose (whole blood)', 212, Decimal('0.2120')),
 (224688, 'Respiratory Rate (Set)', 329, Decimal('0.3290')),
 (224690, 'Respiratory Rate (Total)', 366, Decimal('0.3660')),
 (224689, 'Respiratory Rate (spontaneous)', 391, Decimal('0.3910')),
 (227456, 'Albumin', 443, Decimal('0.4430')),
 (220224, 'Arterial O2 pressure', 454, Decimal('0.4540')),
 (220235, 'Arterial CO2 Pressure', 454, Decimal('0.4540')),
 (225643, 'Differential-Neuts', 468, Decimal('0.4680')),
 (225690, 'Total Bilirubin', 524, Decimal('0.5240')),
 (220644, 'ALT', 525, Decimal('0.5250')),
 (220587, 'AST', 525, Decimal('0.5250')),
 (227466, 'PTT', 807, Decimal('0.8070')),
 (227465, 'Prothrombin time', 817, Decimal('0.8170')),
 (227467, 'INR', 817, Decimal('0.8170')),
 (220228, 'Hemoglobin', 961, Decimal('0.9610')),
 (227457, 'Platelet Count', 962, Decimal('0.9620')),
 (220546, 'WBC', 962, Decimal('0.9620')),
 (220621, 'Glucose (serum)', 966, Decimal('0.9660')),
 (220602, 'Chloride (serum)', 968, Decimal('0.9680')),
 (220615, 'Creatinine', 968, Decimal('0.9680')),
 (225624, 'BUN', 968, Decimal('0.9680')),
 (220645, 'Sodium (serum)', 968, Decimal('0.9680')),
 (220045, 'Heart Rate', 992, Decimal('0.9920')),
 (220210, 'Respiratory Rate', 992, Decimal('0.9920'))]

In [11]:
freqs=%sql SELECT D.ITEMID, D.LABEL, COUNT(DISTINCT(II.ICUSTAY_ID)) AS STAY_COUNT, (COUNT(DISTINCT(II.ICUSTAY_ID))/(:sub_limit)) AS FREQ \
FROM CHARTEVENTS C \
INNER JOIN ( \
    SELECT * FROM ( \
        SELECT * \
        FROM ICUSTAYS I \
        WHERE I.DBSOURCE='metavision' AND (I.FIRST_CAREUNIT='MICU' or I.FIRST_CAREUNIT='SICU') \
        ORDER BY RAND() \
        LIMIT :sub_limit) AS II_sub \
    ORDER BY II_sub.SUBJECT_ID, II_sub.HADM_ID, II_sub.ICUSTAY_ID \
            ) AS II \
ON (C.SUBJECT_ID=II.SUBJECT_ID \
    AND C.HADM_ID=II.HADM_ID \
    AND C.ICUSTAY_ID=II.ICUSTAY_ID) \
INNER JOIN D_ITEMS D \
ON C.ITEMID=D.ITEMID \
WHERE D.ITEMID IN (227456,220644,220587,220546 ,226779,226780,227062,227063,225170 , 227457,225643,225690,220615,\
                   226752, 227005,225624,227000,227001,220228,227466,\
                227465,227467,225170,227457,220235,226062,226063,227036,226770,\
                   227039,227516,220224,223762,220210, 224688,\
                   224689, 224690,220045,228388,220621,\
                   226537,227015,227016,227469,226851,226853,220245,220602,220955,220645, 226534, 226776) \
GROUP BY D.ITEMID \
ORDER BY FREQ

 * mysql://root:***@localhost/mimic
41 rows affected.

In [12]:
freqs=freqs.DataFrame()
rows = freqs.iloc[0:4]
print(rows)
ITEMIDS = freqs[freqs['FREQ']>=0.01]['ITEMID']  ## 切掉
# print(ITEMIDS)
ITEMIDS_TOREMOVE = freqs[freqs['FREQ']<0.01]['ITEMID']  #从变量映射中删除这些参数
# print(ITEMIDS_TOREMOVE)

   ITEMID                    LABEL  STAY_COUNT    FREQ
0  226752  CreatinineApacheIIValue           1  0.0010
1  226776      SodiumApacheIIValue           1  0.0010
2  227036            PCO2_ApacheIV           1  0.0010
3  226779         WbcApacheIIScore           1  0.0010

There are 12 infrequent ITEMS to remove from the variable mapping.

In [14]:
variable_mapping = dict()

# # 白蛋白血清（ALB）、[227456]
variable_mapping['ALB'] = [227456]
# 丙氨酸氨基转移酶（ALT）[220644]
variable_mapping['ALT'] = [220644]
# 天冬氨酸氨基转移酶（AST）[220587]
variable_mapping['AST'] = [226770,227039,227516,220224]  ## 227516 is venous - excluded in subsequent script.在以后的脚本中不包括。
# 白细胞（WBC）、[220546 ,226779,226780,227062,227063],
variable_mapping['WBC'] = [220546 ,226779,226780,227062,227063]  ## 226062,226063 are venous - excluded in subsequent script.
# 血小板计数（PLT）、[225170 , 227457]
variable_mapping['PLT'] = [225170 , 227457]
# 中性粒细胞（NEUT）、[225643]
variable_mapping['NEUT'] = [225643]
# 血清总胆红素（TBIL）、[225690]
variable_mapping['TBIL'] = [225690] ## 228151 is diastolic - excluded in subsequent script.
# # 血清肌酐（SCr）、肌酸酐 Creatinine [220615]  ['creatinine'] = [220615, 226752, 227005],,/
variable_mapping['SCr'] = [220615, 226752, 227005]
# 血红蛋白（HBG）、[220228]  ['haemoglobin'] = [220228]
variable_mapping['HBG'] = [220228]
# 部分凝血活酶时间（PTT）、[227466]
variable_mapping['PTT'] = [227466]
# 凝血酶原时间（PT）、 [227465]
variable_mapping['PT'] = [227465]
# 血尿素氮（BUN）、[225624,227000,227001]
variable_mapping['BUN'] = [225624, 227000, 227001]
# 国际标准化比值 （INR）、[227467]
variable_mapping['INR'] = [227467]
# 血小板（PLR）Platelets、[225170 ,227457]
variable_mapping['PLR'] = [225170,227457]
# PCO2、[227036]   ['pco2'] = [220235,226062,226063,227036] ,/
variable_mapping['PCO2'] = [220235,226062,226063,227036]
# PO2、[227516,227039,226770] ['po2'] = [226770,227039,227516,220224] ,/
variable_mapping['PO2'] = [226770,227039,227516,220224]
# 体温Tem、[223762]
variable_mapping['Tem'] = [223762]
# 呼吸速率RR、[220210,226773,226774,227050,227051,224690,224689] ['resp'] = [220210, 224688, 224689, 224690],/
variable_mapping['Resp'] = [220210, 224688, 224689, 224690]
# 心率、[220045,226763,226764,227018,227019] [220045],/
variable_mapping['HR'] = [220045]
# 葡萄糖 GLU、[228388,220621, 226537,227015,227016,]
variable_mapping['GLU'] = [228388,220621, 226537,227015,227016]
# 凝血酶 THR， [227469]
variable_mapping['THR'] = [227469]
# 舒张压 （DIASBP），[226851,226853]
variable_mapping['DIASBP'] = [226851,226853]
# CO2，[220245]
variable_mapping['CO2'] = [220245]
# 氯化物（CL），[220602,]
variable_mapping['CL'] = [220602]
# 乳酸，Ringers Lactate,[220955]
variable_mapping['Lac'] = [220955]
# 钠 Sodium , Na ，[220645,226775,226776,227052,227053,228389,228390]  [220645, 226534, 226776],/
variable_mapping['Na'] = [220645, 226534, 226776]



for var in variable_mapping:
        variable_mapping[var] = [itd for itd in variable_mapping[var] if itd not in ITEMIDS_TOREMOVE]

print (variable_mapping)

{'ALB': [227456], 'ALT': [220644], 'AST': [226770, 227039, 227516, 220224], 'WBC': [220546, 226779, 226780, 227062, 227063], 'PLT': [225170, 227457], 'NEUT': [225643], 'TBIL': [225690], 'SCr': [220615, 226752, 227005], 'HBG': [220228], 'PTT': [227466], 'PT': [227465], 'BUN': [225624, 227000, 227001], 'INR': [227467], 'PLR': [225170, 227457], 'PCO2': [220235, 226062, 226063, 227036], 'PO2': [226770, 227039, 227516, 220224], 'Tem': [223762], 'Resp': [220210, 224688, 224689, 224690], 'HR': [220045], 'GLU': [228388, 220621, 226537, 227015, 227016], 'THR': [227469], 'DIASBP': [226851, 226853], 'CO2': [220245], 'CL': [220602], 'Lac': [220955], 'Na': [220645, 226534, 226776]}

In [15]:
import MySQLdb
import MySQLdb.cursors
from contextlib import closing
import shutil

In [16]:
def sql_connect():
    db='MIMIC'
    user='root'
    password='112928'

    connection = MySQLdb.connect(host="localhost",
                     user=user,
                     passwd=password,
                     db=db,
                     unix_socket="/run/mysqld/mysqld.sock",
                     cursorclass = MySQLdb.cursors.SSCursor)  
    return connection

In [17]:
conn = sql_connect()
with closing(conn.cursor()) as cur:
    cur.execute('SELECT * FROM D_ITEMS WHERE LABEL LIKE "%urine%" AND DBSOURCE="metavision"')
    row = cur.fetchone()
    print(row)
conn.close()

(12710, 220799, 'ZSpecific Gravity (urine)', 'ZSpecific gravity (urine)', 'metavision', 'chartevents', 'Labs', 'None', 'Numeric', None)

In [18]:
list_of_ids = ITEMIDS
format_strings = ','.join(['%s'] * len(list_of_ids))
print(format_strings,len(list_of_ids))

%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s 29

partial_pull_query0 ="""SELECT C.SUBJECT_ID, C.HADM_ID, C.ICUSTAY_ID, C.ITEMID, C.CHARTTIME, C.VALUE, C.VALUENUM, C.VALUEUOM, II.INTIME, II.OUTTIME, II.LOS
FROM CHARTEVENTS C
INNER JOIN ICUSTAYS II
ON (C.SUBJECT_ID=II.SUBJECT_ID
    AND C.HADM_ID=II.HADM_ID
    AND C.ICUSTAY_ID=II.ICUSTAY_ID)
WHERE II.DBSOURCE='metavision'
AND (II.FIRST_CAREUNIT='MICU' or II.FIRST_CAREUNIT='SICU')
AND II.ICUSTAY_ID in (%d)"""

partial_pull_query1="""
   AND C.ITEMID in """

In [ ]:
with closing(sql_connect()) as conn:
    df = pd.read_sql_query(con=conn,
    sql="SELECT DISTINCT(ICUSTAY_ID) FROM ICUSTAYS WHERE DBSOURCE='metavision' AND (FIRST_CAREUNIT='MICU' OR FIRST_CAREUNIT='SICU')"
    ,chunksize=1000)
    c=[chunk for chunk in df]  # 进行 chunksize 返回值的转换 成 DataFrame,开始
    chunk=[c[i] for i in range(0,15)]  # 进行 chunksize 返回值的转换 成 DataFrame
    df_1 = pd.concat(chunk).reset_index(drop=True)  # 进行 chunksize 返回值的转换 成 DataFrame，结束
    print(len(df_1))
    icustays = df_1 ['ICUSTAY_ID']
    # icustays = list(df['ICUSTAY_ID'])

In [ ]:
    icustays = df_1 ['ICUSTAY_ID']
    # icustays = list(df['ICUSTAY_ID'])

In [21]:
# 试图保存数据to_pickle，用的时候在导入pd.read_pickle
icustays=pd.DataFrame(icustays)
icustays.to_pickle('icustays')
list_of_ids.to_pickle('list_of_ids')

上面已经保存了程序结果，下面直接使用就好，不用在继续运行一遍

In [22]:
icustays=pd.read_pickle('icustays')
# 将读取的DataFrame 数据 转换成 list
icustays_array= np.array(icustays.stack())
icustays =icustays_array.tolist()
# 将列表中的数据 转换成 字符串
icustays=[str(i) for i in icustays]
# 加入 sql 语句中（取消[]）
icustays=','.join(icustays)
# 最后形式 '228232,223762,225309,227516,224829'

list_of_ids=pd.read_pickle('list_of_ids')
list_of_ids=list(list_of_ids)
# # 加入 sql 语句中（取消[]）
# list_of_ids=','.join(list_of_ids)

In [23]:
list_of_ids=pd.read_pickle('list_of_ids')
list_of_ids=list(list_of_ids)
# 加入 sql 语句中（取消[]）
# list_of_ids=','.join(list_of_ids)

In [24]:
# list_of_ids
# 将列表中的数据 转换成 字符串
list_of_ids=[str(i) for i in list_of_ids]
# 加入 sql 语句中（取消[]）
list_of_ids=','.join(list_of_ids)
list_of_ids

'223762,227516,226534,226062,226063,226537,224688,224690,224689,220224,220235,227456,225643,225690,220644,220587,227466,227467,227465,220228,220546,227457,220602,220615,225624,220621,220645,220045,220210'

In [26]:
type(icustays)

str

In [27]:
list_of_ids

'223762,227516,226534,226062,226063,226537,224688,224690,224689,220224,220235,227456,225643,225690,220644,220587,227466,227467,227465,220228,220546,227457,220602,220615,225624,220621,220645,220045,220210'

In [28]:
partial_pull_query0 ="""SELECT C.SUBJECT_ID, C.HADM_ID, C.ICUSTAY_ID, C.ITEMID, C.CHARTTIME, C.VALUE, C.VALUENUM, C.VALUEUOM, II.INTIME, II.OUTTIME, II.LOS
FROM CHARTEVENTS C 
INNER JOIN ICUSTAYS II
ON (C.SUBJECT_ID=II.SUBJECT_ID 
    AND C.HADM_ID=II.HADM_ID 
    AND C.ICUSTAY_ID=II.ICUSTAY_ID)  
WHERE II.DBSOURCE='metavision' 
AND (II.FIRST_CAREUNIT='MICU' or II.FIRST_CAREUNIT='SICU') 
AND II.ICUSTAY_ID in (%s)""" % icustays

partial_pull_query1="""
   AND C.ITEMID in (%s)""" % list_of_ids

In [29]:
with closing(sql_connect()) as conn:
    sql= partial_pull_query0   + partial_pull_query1
    df = pd.read_sql_query(con=conn,
    sql=sql,
    chunksize=1000)
    c=[chunk for chunk in df]  # 进行 chunksize 返回值的转换 成 DataFrame,开始
#     chunk=[c[i].iloc[:,1:2] for i in range(0,15)]  # 进行 chunksize 返回值的转换 成 DataFrame
    chunk=[c[i] for i in range(0,len(c))]
    df_c = pd.concat(chunk)  # 进行 chunksize 返回值的转换 成 DataFrame，结束
#     df_c.to_pickle('df_c')
#     print(len(df))

In [30]:
df_c

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,INTIME,OUTTIME,LOS
0,23,124321,234044,220045,2157-10-21 12:06:00,77,77.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
1,23,124321,234044,220210,2157-10-21 12:06:00,14,14.0,insp/min,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
2,23,124321,234044,220045,2157-10-21 12:08:00,75,75.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
3,23,124321,234044,220045,2157-10-21 13:00:00,84,84.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
4,23,124321,234044,220210,2157-10-21 13:00:00,18,18.0,insp/min,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
...,...,...,...,...,...,...,...,...,...,...,...
462,99999,113369,246512,220210,2118-01-01 11:00:00,16,16.0,insp/min,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
463,99999,113369,246512,220045,2118-01-01 12:00:00,82,82.0,bpm,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
464,99999,113369,246512,220210,2118-01-01 12:00:00,17,17.0,insp/min,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
465,99999,113369,246512,220045,2118-01-01 13:00:00,86,86.0,bpm,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
466,99999,113369,246512,220210,2118-01-01 13:00:00,15,15.0,insp/min,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242

In [31]:
str(tuple(list_of_ids))

"('2', '2', '3', '7', '6', '2', ',', '2', '2', '7', '5', '1', '6', ',', '2', '2', '6', '5', '3', '4', ',', '2', '2', '6', '0', '6', '2', ',', '2', '2', '6', '0', '6', '3', ',', '2', '2', '6', '5', '3', '7', ',', '2', '2', '4', '6', '8', '8', ',', '2', '2', '4', '6', '9', '0', ',', '2', '2', '4', '6', '8', '9', ',', '2', '2', '0', '2', '2', '4', ',', '2', '2', '0', '2', '3', '5', ',', '2', '2', '7', '4', '5', '6', ',', '2', '2', '5', '6', '4', '3', ',', '2', '2', '5', '6', '9', '0', ',', '2', '2', '0', '6', '4', '4', ',', '2', '2', '0', '5', '8', '7', ',', '2', '2', '7', '4', '6', '6', ',', '2', '2', '7', '4', '6', '7', ',', '2', '2', '7', '4', '6', '5', ',', '2', '2', '0', '2', '2', '8', ',', '2', '2', '0', '5', '4', '6', ',', '2', '2', '7', '4', '5', '7', ',', '2', '2', '0', '6', '0', '2', ',', '2', '2', '0', '6', '1', '5', ',', '2', '2', '5', '6', '2', '4', ',', '2', '2', '0', '6', '2', '1', ',', '2', '2', '0', '6', '4', '5', ',', '2', '2', '0', '0', '4', '5', ',', '2', '2', '0', '2', '1', '0')"

In [32]:
with closing(sql_connect()) as conn:
    sql= partial_pull_query0  + partial_pull_query1
    df = pd.read_sql_query(con=conn,
    sql=sql,
    chunksize=1000)
    c=[chunk for chunk in df]  # 进行 chunksize 返回值的转换 成 DataFrame,开始
    chunk_new=[c[i] for i in range(0,len(c))]  # 进行 chunksize 返回值的转换 成 DataFrame
    df_c_new = pd.concat(chunk_new).reset_index(drop=True)   # 进行 chunksize 返回值的转换 成 DataFrame，结束
    df_c_new.to_pickle('mimic_all_data')

In [33]:
mimic_all_data=pd.read_pickle('mimic_all_data')

In [34]:
mimic_all_data

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,INTIME,OUTTIME,LOS
0,23,124321,234044,220045,2157-10-21 12:06:00,77,77.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
1,23,124321,234044,220210,2157-10-21 12:06:00,14,14.0,insp/min,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
2,23,124321,234044,220045,2157-10-21 12:08:00,75,75.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
3,23,124321,234044,220045,2157-10-21 13:00:00,84,84.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
4,23,124321,234044,220210,2157-10-21 13:00:00,18,18.0,insp/min,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
...,...,...,...,...,...,...,...,...,...,...,...
5137462,99999,113369,246512,220210,2118-01-01 11:00:00,16,16.0,insp/min,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
5137463,99999,113369,246512,220045,2118-01-01 12:00:00,82,82.0,bpm,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
5137464,99999,113369,246512,220210,2118-01-01 12:00:00,17,17.0,insp/min,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
5137465,99999,113369,246512,220045,2118-01-01 13:00:00,86,86.0,bpm,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
5137466,99999,113369,246512,220210,2118-01-01 13:00:00,15,15.0,insp/min,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242

In [35]:
ditems_query = """SELECT ITEMID, LABEL AS 'D.LABEL', UNITNAME AS 'D.UNITNAME' FROM D_ITEMS WHERE ITEMID IN (%s)"""

In [36]:
with closing(sql_connect()) as conn:
    item_info = pd.read_sql_query(con=conn, sql=(ditems_query %list_of_ids),chunksize=1000)
    c=[chunk for chunk in item_info]  
    chunk=[c[i] for i in range(0,len(c))]  
    item_info = pd.concat(chunk).reset_index(drop=True)

In [37]:
results = pd.read_pickle('mimic_all_data')
item_info.to_pickle('item_info')
item_info = pd.read_pickle('item_info')

In [38]:
# 调整 两个表格 的 共有列 的数据类型，要一致。
results['ITEMID'] = results['ITEMID'].astype(int)
results9=pd.merge(results, item_info, how='inner', on='ITEMID')

In [39]:
results9.to_pickle('mimic_all_data')
results = pd.read_pickle('mimic_all_data')
results

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,INTIME,OUTTIME,LOS,D.LABEL,D.UNITNAME
0,23,124321,234044,220045,2157-10-21 12:06:00,77,77.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm
1,23,124321,234044,220045,2157-10-21 12:08:00,75,75.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm
2,23,124321,234044,220045,2157-10-21 13:00:00,84,84.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm
3,23,124321,234044,220045,2157-10-21 14:00:00,78,78.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm
4,23,124321,234044,220045,2157-10-21 15:00:00,81,81.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5137462,99899,188409,245756,227516,2113-06-06 20:47:00,43,43.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,9.1439,PO2 (Mixed Venous),mmHg
5137463,99899,188409,245756,227516,2113-06-07 20:27:00,43,43.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,9.1439,PO2 (Mixed Venous),mmHg
5137464,99899,188409,245756,227516,2113-06-11 01:25:00,37,37.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,9.1439,PO2 (Mixed Venous),mmHg
5137465,99923,192053,298857,227516,2201-05-16 06:36:00,60,60.0,mmHg,2201-05-16 06:06:34,2201-05-18 11:45:27,2.2353,PO2 (Mixed Venous),mmHg
5137466,99985,176670,279638,227516,2181-02-07 16:25:00,35,35.0,mmHg,2181-01-29 05:33:34,2181-02-09 12:45:20,11.2998,PO2 (Mixed Venous),mmHg

In [44]:
# # all_data = pd.read_pickle('mimic_all_data1') 
# all_data = pd.read_pickle('mimic_all_data')
all_data = results

In [45]:
print (all_data.columns.tolist())

['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ITEMID', 'CHARTTIME', 'VALUE', 'VALUENUM', 'VALUEUOM', 'INTIME', 'OUTTIME', 'LOS', 'D.LABEL', 'D.UNITNAME']

In [46]:
all_data = all_data.rename(columns={'SUBJECT_ID':'C.SUBJECT_ID',
                            'HADM_ID':'C.HADM_ID',
                            'ICUSTAY_ID':'C.ICUSTAY_ID',
                            'ITEMID':'D.ITEMID',
                            'CHARTTIME':'C.CHARTTIME',
                            'VALUE':'C.VALUE',
                            'VALUENUM':'C.VALUENUM',
                            'VALUEUOM':'C.VALUEUOM',
                            'INTIME':'II.INTIME',
                            'OUTTIME':'II.OUTTIME',
                            'LOS':'II.LOS',
                            'D.LABEL':'D.LABEL',
                            'D.UNITNAME':'D.UNITNAME'})

In [ ]:
number_of_stays = len(all_data['C.ICUSTAY_ID'].unique())
print ("有 %d 行数据. " %len(all_data))
print( "有 %d 个在重症监护室." %number_of_stays)

In [48]:
# 查看是否 是 时间模式
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5137467 entries, 0 to 5137466
Data columns (total 13 columns):
 #   Column        Dtype
---  ------        -----
 0   C.SUBJECT_ID  int64
 1   C.HADM_ID     int64
 2   C.ICUSTAY_ID  int64
 3   D.ITEMID      int32
 4   C.CHARTTIME   datetime64[ns]
 5   C.VALUE       object
 6   C.VALUENUM    float64
 7   C.VALUEUOM    object
 8   II.INTIME     datetime64[ns]
 9   II.OUTTIME    datetime64[ns]
 10  II.LOS        float64
 11  D.LABEL       object
 12  D.UNITNAME    object
dtypes: datetime64[ns](3), float64(2), int32(1), int64(3), object(4)
memory usage: 529.1+ MB

In [337]:
# 将CHARTTIME 换成 时间类型
a1 = pd.to_datetime(all_data['CHARTTIME'])

In [339]:
a1.dtype

dtype('<M8[ns]')

In [341]:
a2=all_data['CHARTTIME'].astype('datetime64[ns]')
a1.dtype

dtype('<M8[ns]')

In [50]:
HR = 24  
# all_data1 = all_data.apply(lambda row: 1 if (row['II.OUTTIME'] - row['C.CHARTTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)
all_data['final_%dhr' %HR] = all_data.apply(lambda row: 1 if ( row['C.CHARTTIME'] - row['II.INTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)

In [51]:
HR = 48  
# all_data1 = all_data.apply(lambda row: 1 if (row['II.OUTTIME'] - row['C.CHARTTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)
all_data['final_%dhr' %HR] = all_data.apply(lambda row: 1 if ( row['C.CHARTTIME'] - row['II.INTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)

In [52]:
HR = 72  
# all_data1 = all_data.apply(lambda row: 1 if (row['II.OUTTIME'] - row['C.CHARTTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)
all_data['final_%dhr' %HR] = all_data.apply(lambda row: 1 if ( row['C.CHARTTIME'] - row['II.INTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)

In [53]:
all_data.to_pickle('mimic_all_data1')

In [54]:
all_data = pd.read_pickle('mimic_all_data1')

In [55]:
all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,II.LOS,D.LABEL,D.UNITNAME,final_24hr,final_48hr,final_72hr
0,23,124321,234044,220045,2157-10-21 12:06:00,77,77.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm,1,1,1
1,23,124321,234044,220045,2157-10-21 12:08:00,75,75.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm,1,1,1
2,23,124321,234044,220045,2157-10-21 13:00:00,84,84.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm,1,1,1
3,23,124321,234044,220045,2157-10-21 14:00:00,78,78.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm,1,1,1
4,23,124321,234044,220045,2157-10-21 15:00:00,81,81.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5137462,99899,188409,245756,227516,2113-06-06 20:47:00,43,43.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,9.1439,PO2 (Mixed Venous),mmHg,0,0,1
5137463,99899,188409,245756,227516,2113-06-07 20:27:00,43,43.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,9.1439,PO2 (Mixed Venous),mmHg,0,0,0
5137464,99899,188409,245756,227516,2113-06-11 01:25:00,37,37.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,9.1439,PO2 (Mixed Venous),mmHg,0,0,0
5137465,99923,192053,298857,227516,2201-05-16 06:36:00,60,60.0,mmHg,2201-05-16 06:06:34,2201-05-18 11:45:27,2.2353,PO2 (Mixed Venous),mmHg,1,1,1
5137466,99985,176670,279638,227516,2181-02-07 16:25:00,35,35.0,mmHg,2181-01-29 05:33:34,2181-02-09 12:45:20,11.2998,PO2 (Mixed Venous),mmHg,0,0,0

In [56]:

f = open('first_stays.pkl', 'rb')
first_stays = pickle.load(f)
f.close()

f = open('moratlities.pkl', 'rb')
mortalities = pickle.load(f)
f.close()

f = open('stay_counts.pkl', 'rb')
stay_counts = pickle.load(f)
f.close()

f = open('icu_deaths.pkl', 'rb')
ic_deaths = pickle.load(f)
f.close()

In [59]:
all_data['cohort'] = all_data['C.ICUSTAY_ID'].apply(lambda r: 1 if int(r) in first_stays['HADM_ID'].values else 0)

In [ ]:
# all_data['in_h_death'] = all_data['C.HADM_ID'].apply(lambda hadmid: 1 if hadmid in mortalities else 0 )
all_data['in_h_death'] = all_data['C.HADM_ID'].apply(lambda hadmid: 1 if int(hadmid) in mortalities else 0 )

all_data['in_h_death']

In [ ]:
all_data['in_icu_death'] = all_data['C.ICUSTAY_ID'].apply(lambda icustay: 1 if int(icustay) in ic_deaths else 0 )

all_data['in_icu_death']

In [63]:
all_data.to_pickle('mimic_all_data1')

In [64]:
stay_counts1=stay_counts
stay_counts_pd=pd.DataFrame(list(stay_counts.values())[0])
stay_counts=stay_counts_pd

In [80]:
len(stay_counts)

13748

In [79]:
len(list(np.unique(all_data['C.HADM_ID'])))

13613

In [ ]:
# 由于stay_counts 和 all_data['C.HADM_ID'] 长度不一样，所以我设置了缺失值，暂时不知道后期是否有影响，有影响在修改
all_data['readmit'] = all_data['C.HADM_ID'].apply(lambda hadmid: tuple(stay_counts.loc[int(hadmid)].values - 1)[0]
                                                  if int(hadmid) in stay_counts.index else 'nan' )

all_data['readmit']

#### 查看不是第一次入院的部分

In [103]:
cond = all_data['readmit']>0
all_data[cond]

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,II.LOS,D.LABEL,D.UNITNAME,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit
1312,109,102024,240251,220045,2142-05-20 21:00:00,103,103.0,bpm,2142-05-20 17:40:15,2142-05-22 22:03:12,2.1826,Heart Rate,bpm,1,1,1,0,0,0,1
1313,109,102024,240251,220045,2142-05-20 22:00:00,91,91.0,bpm,2142-05-20 17:40:15,2142-05-22 22:03:12,2.1826,Heart Rate,bpm,1,1,1,0,0,0,1
1314,109,102024,240251,220045,2142-05-20 23:00:00,95,95.0,bpm,2142-05-20 17:40:15,2142-05-22 22:03:12,2.1826,Heart Rate,bpm,1,1,1,0,0,0,1
1315,109,102024,240251,220045,2142-05-20 23:08:00,95,95.0,bpm,2142-05-20 17:40:15,2142-05-22 22:03:12,2.1826,Heart Rate,bpm,1,1,1,0,0,0,1
1316,109,102024,240251,220045,2142-05-21 00:00:00,100,100.0,bpm,2142-05-20 17:40:15,2142-05-22 22:03:12,2.1826,Heart Rate,bpm,1,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5137406,95387,110486,222875,227516,2186-08-03 06:29:00,50,50.0,mmHg,2186-07-23 13:17:34,2186-08-03 23:46:46,11.4369,PO2 (Mixed Venous),mmHg,0,0,0,1,1,1,1
5137418,96670,116358,237777,227516,2187-01-12 02:34:00,51,51.0,mmHg,2187-01-11 23:47:55,2187-01-18 15:55:38,6.6720,PO2 (Mixed Venous),mmHg,1,1,1,1,0,0,1
5137432,98573,175201,290931,227516,2195-12-23 03:56:00,49,49.0,mmHg,2195-11-30 17:14:43,2196-01-25 17:10:02,55.9967,PO2 (Mixed Venous),mmHg,0,0,0,0,0,0,2
5137448,99096,190010,203681,227516,2110-06-25 21:55:00,53,53.0,mmHg,2110-06-25 18:26:32,2110-07-09 16:33:42,13.9216,PO2 (Mixed Venous),mmHg,1,1,1,1,1,0,1
5137449,99096,190010,203681,227516,2110-06-26 03:27:00,54,54.0,mmHg,2110-06-25 18:26:32,2110-07-09 16:33:42,13.9216,PO2 (Mixed Venous),mmHg,1,1,1,1,1,0,1

#### 查看       第一次入院的部分

In [104]:
cond = all_data['readmit']==0
all_data[cond]

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,II.LOS,D.LABEL,D.UNITNAME,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit
0,23,124321,234044,220045,2157-10-21 12:06:00,77,77.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm,1,1,1,1,0,0,0
1,23,124321,234044,220045,2157-10-21 12:08:00,75,75.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm,1,1,1,1,0,0,0
2,23,124321,234044,220045,2157-10-21 13:00:00,84,84.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm,1,1,1,1,0,0,0
3,23,124321,234044,220045,2157-10-21 14:00:00,78,78.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm,1,1,1,1,0,0,0
4,23,124321,234044,220045,2157-10-21 15:00:00,81,81.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862,Heart Rate,bpm,1,1,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5137462,99899,188409,245756,227516,2113-06-06 20:47:00,43,43.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,9.1439,PO2 (Mixed Venous),mmHg,0,0,1,1,1,1,0
5137463,99899,188409,245756,227516,2113-06-07 20:27:00,43,43.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,9.1439,PO2 (Mixed Venous),mmHg,0,0,0,1,1,1,0
5137464,99899,188409,245756,227516,2113-06-11 01:25:00,37,37.0,mmHg,2113-06-04 15:56:39,2113-06-13 19:23:51,9.1439,PO2 (Mixed Venous),mmHg,0,0,0,1,1,1,0
5137465,99923,192053,298857,227516,2201-05-16 06:36:00,60,60.0,mmHg,2201-05-16 06:06:34,2201-05-18 11:45:27,2.2353,PO2 (Mixed Venous),mmHg,1,1,1,1,0,0,0
5137466,99985,176670,279638,227516,2181-02-07 16:25:00,35,35.0,mmHg,2181-01-29 05:33:34,2181-02-09 12:45:20,11.2998,PO2 (Mixed Venous),mmHg,0,0,0,1,0,0,0

In [ ]:
# # 使用 any 方法，查看 空数据
# cond  =  all_data['readmit'].isnull() # axis = 1: 按列查看，找出列中存在空数据的 行
# # 直接使用[] ，进行 【行切片】
# cond.index

In [105]:
all_data.to_pickle('mimic_all_data1')

In [106]:
# 这里我设置的 n 是 ICU中没有死亡的 HADM_ID
n=[]
for i in stay_counts.index:
    if i not in mortalities:
        n.append(i)
        # print(i)
n

[100001,
 100003,
 100010,
 100016,
 100018,
 100028,
 100035,
 100037,
 100072,
 100075,
 100091,
 100099,
 100113,
 100118,
 100133,
 100141,
 100153,
 100165,
 100188,
 100201,
 100202,
 100213,
 100215,
 100225,
 100227,
 100263,
 100265,
 100289,
 100300,
 100301,
 100320,
 100325,
 100326,
 100347,
 100350,
 100373,
 100380,
 100383,
 100391,
 100406,
 100415,
 100416,
 100422,
 100423,
 100427,
 100432,
 100442,
 100446,
 100449,
 100453,
 100454,
 100456,
 100463,
 100465,
 100469,
 100486,
 100492,
 100494,
 100496,
 100499,
 100513,
 100526,
 100549,
 100561,
 100571,
 100575,
 100579,
 100583,
 100586,
 100590,
 100610,
 100621,
 100642,
 100657,
 100659,
 100664,
 100685,
 100696,
 100697,
 100698,
 100711,
 100724,
 100738,
 100740,
 100746,
 100747,
 100749,
 100755,
 100758,
 100759,
 100763,
 100765,
 100771,
 100774,
 100783,
 100789,
 100791,
 100795,
 100816,
 100846,
 100849,
 100852,
 100855,
 100873,
 100877,
 100889,
 100890,
 100909,
 100914,
 100934,
 100937,
 100943,
 100952,
 100961,
 100974,
 100977,
 100985,
 100991,
 100999,
 101011,
 101018,
 101024,
 101033,
 101038,
 101045,
 101047,
 101062,
 101063,
 101072,
 101076,
 101083,
 101091,
 101092,
 101094,
 101095,
 101096,
 101102,
 101110,
 101130,
 101131,
 101142,
 101145,
 101151,
 101162,
 101171,
 101173,
 101199,
 101206,
 101209,
 101212,
 101216,
 101217,
 101229,
 101233,
 101257,
 101259,
 101264,
 101266,
 101272,
 101278,
 101311,
 101315,
 101316,
 101322,
 101324,
 101338,
 101343,
 101358,
 101361,
 101372,
 101374,
 101388,
 101394,
 101397,
 101399,
 101401,
 101405,
 101410,
 101424,
 101428,
 101431,
 101432,
 101441,
 101451,
 101460,
 101504,
 101521,
 101523,
 101536,
 101540,
 101543,
 101560,
 101581,
 101605,
 101616,
 101619,
 101627,
 101630,
 101637,
 101645,
 101653,
 101658,
 101663,
 101665,
 101667,
 101705,
 101711,
 101728,
 101731,
 101732,
 101735,
 101737,
 101742,
 101744,
 101748,
 101759,
 101770,
 101787,
 101797,
 101803,
 101818,
 101824,
 101833,
 101847,
 101851,
 101853,
 101864,
 101876,
 101891,
 101903,
 101914,
 101915,
 101920,
 101922,
 101939,
 101945,
 101955,
 101979,
 101988,
 102007,
 102018,
 102019,
 102024,
 102028,
 102055,
 102058,
 102063,
 102064,
 102068,
 102069,
 102071,
 102079,
 102087,
 102101,
 102103,
 102120,
 102135,
 102136,
 102148,
 102155,
 102173,
 102181,
 102191,
 102196,
 102197,
 102203,
 102204,
 102207,
 102212,
 102220,
 102253,
 102272,
 102279,
 102280,
 102283,
 102293,
 102296,
 102298,
 102299,
 102318,
 102324,
 102326,
 102327,
 102333,
 102348,
 102354,
 102357,
 102365,
 102373,
 102376,
 102395,
 102396,
 102401,
 102405,
 102412,
 102417,
 102419,
 102420,
 102453,
 102460,
 102478,
 102486,
 102489,
 102491,
 102494,
 102495,
 102500,
 102505,
 102527,
 102529,
 102535,
 102536,
 102539,
 102554,
 102559,
 102566,
 102576,
 102584,
 102589,
 102602,
 102613,
 102625,
 102649,
 102658,
 102660,
 102662,
 102666,
 102672,
 102683,
 102690,
 102712,
 102713,
 102724,
 102735,
 102738,
 102751,
 102756,
 102759,
 102763,
 102766,
 102769,
 102774,
 102786,
 102791,
 102803,
 102806,
 102807,
 102821,
 102829,
 102830,
 102835,
 102839,
 102855,
 102860,
 102873,
 102891,
 102906,
 102907,
 102912,
 102916,
 102928,
 102929,
 102939,
 102942,
 102951,
 102952,
 102957,
 102961,
 102963,
 102966,
 102972,
 102980,
 102994,
 102995,
 103002,
 103009,
 103025,
 103029,
 103030,
 103041,
 103054,
 103055,
 103060,
 103065,
 103076,
 103077,
 103081,
 103085,
 103106,
 103117,
 103133,
 103139,
 103140,
 103151,
 103154,
 103159,
 103160,
 103163,
 103164,
 103165,
 103181,
 103182,
 103216,
 103217,
 103218,
 103232,
 103237,
 103258,
 103267,
 103274,
 103289,
 103290,
 103295,
 103298,
 103315,
 103326,
 103330,
 103335,
 103344,
 103356,
 103371,
 103374,
 103377,
 103379,
 103389,
 103390,
 103403,
 103407,
 103423,
 103440,
 103446,
 103454,
 103457,
 103480,
 103490,
 103499,
 103514,
 103528,
 103532,
 103539,
 103556,
 103563,
 103568,
 103583,
 103587,
 103590,
 103601,
 103604,
 103610,
 103620,
 103640,
 103648,
 103674,
 103683,
 103687,
 103694,
 103701,
 103704,
 103708,
 103715,
 103716,
 103718,
 103724,
 103726,
 103738,
 103741,
 103746,
 103766,
 103771,
 103773,
 103793,
 103797,
 103801,
 103813,
 103825,
 103829,
 103844,
 103853,
 103854,
 103906,
 103919,
 103928,
 103937,
 103941,
 103944,
 103947,
 103957,
 103972,
 103974,
 103988,
 103989,
 103998,
 104005,
 104006,
 104009,
 104021,
 104025,
 104034,
 104051,
 104073,
 104084,
 104090,
 104094,
 104100,
 104110,
 104112,
 104117,
 104122,
 104127,
 104135,
 104147,
 104160,
 104162,
 104168,
 104189,
 104203,
 104218,
 104225,
 104227,
 104234,
 104236,
 104241,
 104252,
 104263,
 104268,
 104280,
 104285,
 104287,
 104312,
 104324,
 104328,
 104348,
 104356,
 104360,
 104372,
 104373,
 104390,
 104395,
 104396,
 104398,
 104412,
 104430,
 104431,
 104457,
 104462,
 104464,
 104465,
 104466,
 104475,
 104490,
 104502,
 104511,
 104535,
 104538,
 104549,
 104555,
 104564,
 104573,
 104575,
 104576,
 104580,
 104582,
 104583,
 104584,
 104585,
 104589,
 104600,
 104619,
 104626,
 104632,
 104634,
 104646,
 104647,
 104653,
 104673,
 104678,
 104682,
 104708,
 104723,
 104725,
 104726,
 104730,
 104737,
 104741,
 104755,
 104757,
 104766,
 104774,
 104777,
 104787,
 104802,
 104808,
 104812,
 104829,
 104840,
 104847,
 104858,
 104897,
 104901,
 104922,
 104924,
 104926,
 104929,
 104935,
 104952,
 104964,
 104970,
 104972,
 104983,
 104994,
 105003,
 105014,
 105017,
 105023,
 105027,
 105050,
 105058,
 105063,
 105065,
 105088,
 105104,
 105132,
 105134,
 105141,
 105146,
 105147,
 105151,
 105160,
 105165,
 105172,
 105189,
 105190,
 105192,
 105193,
 105199,
 105222,
 105236,
 105245,
 105250,
 105252,
 105254,
 105262,
 105310,
 105316,
 105341,
 105347,
 105351,
 105357,
 105358,
 105368,
 105386,
 105397,
 105404,
 105407,
 105414,
 105430,
 105442,
 105444,
 105468,
 105500,
 105506,
 105511,
 105516,
 105518,
 105519,
 105522,
 105529,
 105541,
 105547,
 105549,
 105561,
 105566,
 105567,
 105572,
 105580,
 105582,
 105585,
 105598,
 105605,
 105610,
 105625,
 105645,
 105650,
 105651,
 105652,
 105659,
 105697,
 105700,
 105706,
 105715,
 105720,
 105730,
 105759,
 105768,
 105776,
 105780,
 105783,
 105790,
 105791,
 105803,
 105805,
 105818,
 105829,
 105838,
 105861,
 105863,
 105865,
 105868,
 105883,
 105895,
 105900,
 105911,
 105916,
 105918,
 105925,
 105933,
 105934,
 105936,
 105955,
 105956,
 105960,
 105977,
 105981,
 105989,
 105995,
 106005,
 106007,
 106015,
 106027,
 106032,
 106034,
 106038,
 106048,
 106052,
 106053,
 106067,
 106073,
 106091,
 106092,
 106094,
 106102,
 106103,
 106110,
 106114,
 106125,
 106135,
 106136,
 106146,
 106149,
 106152,
 106166,
 106173,
 106177,
 106228,
 106229,
 106234,
 106243,
 106244,
 106250,
 106287,
 106288,
 106305,
 106318,
 106323,
 106334,
 106349,
 106350,
 106367,
 106372,
 106374,
 106378,
 106393,
 106396,
 106415,
 106423,
 106424,
 106426,
 106431,
 106433,
 106443,
 106448,
 106452,
 106471,
 106473,
 106481,
 106484,
 106486,
 106506,
 106507,
 106512,
 106517,
 106527,
 106560,
 106561,
 106565,
 106576,
 106579,
 106585,
 106588,
 106589,
 106600,
 106610,
 106614,
 106628,
 106630,
 106638,
 106665,
 106673,
 106674,
 106688,
 106703,
 106747,
 106751,
 106755,
 106760,
 106763,
 106764,
 106770,
 106777,
 106780,
 106790,
 106809,
 106825,
 106836,
 106850,
 106851,
 106855,
 106862,
 106883,
 106900,
 106915,
 106939,
 106961,
 106963,
 106965,
 106967,
 106983,
 106985,
 106995,
 107004,
 107008,
 107019,
 107037,
 107041,
 107047,
 107049,
 107052,
 107057,
 107058,
 107060,
 107072,
 107077,
 107085,
 107089,
 107101,
 107112,
 107132,
 107149,
 107177,
 107186,
 107201,
 107202,
 107213,
 107216,
 107220,
 107226,
 107231,
 107242,
 107247,
 107252,
 107256,
 107272,
 107290,
 107315,
 107354,
 107370,
 107371,
 107377,
 107379,
 107382,
 107384,
 107386,
 107394,
 107407,
 107412,
 107413,
 107425,
 107427,
 107431,
 107454,
 107462,
 107472,
 107486,
 107495,
 107499,
 107501,
 107507,
 107516,
 107520,
 107540,
 107580,
 107605,
 107623,
 107625,
 107626,
 107635,
 107667,
 107671,
 107703,
 107710,
 107720,
 107734,
 107743,
 107766,
 107768,
 107769,
 107776,
 107777,
 107790,
 107813,
 107820,
 107869,
 107878,
 107891,
 107901,
 107913,
 107915,
 107926,
 107932,
 107939,
 107940,
 107961,
 107967,
 107970,
 107977,
 107995,
 108008,
 108023,
 108043,
 108045,
 108052,
 108073,
 108084,
 108086,
 108098,
 108099,
 108112,
 108125,
 108132,
 108135,
 108146,
 108149,
 108165,
 108169,
 108176,
 108180,
 108200,
 108228,
 108251,
 108253,
 108258,
 108279,
 108287,
 108289,
 108302,
 108310,
 108311,
 108343,
 108365,
 108382,
 108390,
 108394,
 108398,
 108420,
 108429,
 108439,
 108441,
 108497,
 108502,
 108509,
 108518,
 108519,
 108526,
 108529,
 108532,
 108562,
 108577,
 108588,
 108602,
 108605,
 108617,
 108627,
 108644,
 108647,
 108653,
 108688,
 108704,
 108718,
 108728,
 108733,
 ...]

In [ ]:
# 只进过1次 ICU 但没有死亡 的 HADM_ID
print( "Adding outcome column 增加 outcome（ 只进过1次ICU 并且顺利出院 没有死亡  ） 列...")
# all_data['outcome'] = all_data['C.HADM_ID'].apply(lambda hadmid: 1 if (hadmid not in mortalities and hadmid in stay_counts.index
#                                                                        and stay_counts[hadmid]==1) else 0 )
# all_data['outcome'] = all_data['C.HADM_ID'].apply(lambda hadmid: 1 if (int(stay_counts.loc[hadmid].values)==1
#                                                                        for hadmid  in n
#                                                                        ) else 0 )
all_data['outcome'] = all_data['C.HADM_ID'].apply(lambda hadmid: 1 if (int(hadmid)  in n
                                                                       and int(stay_counts.loc[int(hadmid)].values)==1
                                                                       ) else 0 )
print (' 完成添加新列，保存数据帧 ')
all_data.to_pickle('mimic_all_data1')

In [108]:
v=[]
for i in all_data['C.HADM_ID'].unique():
    if int(stay_counts.loc[int(i)].values)==1:
    # if i in n:

        v.append(i)
len(v)

12880